<i18n>
{
  "fr": {
    "title-1": "Génériques",
    "title-2": "Incertitudes",
    "generic-1": "Pour une activité donnée émettrice de GES, les émissions de GES sont calculées de la façon suivante :",
    "generic-2": "Quantité d’activité émettrice de GES * Facteur d’émission de cette activité exprimé en équivalent ",
    "generic-2b": " ",
    "generic-3": "Par exemple, le véhicule diesel d’un labo qui effectue 10 000 km sur une année émet 10 000 * 0,190 = 1 900",
    "generic-4": ", car le facteur d’émission (combustion + amont) d’un km parcouru par un véhicule diesel moyen français est de 0,190",
    "generic-5": "(source Base Carbone Ademe juillet 2020).",
    "generic-6": "Au-delà de ce calcul simple, divers éléments sont à considérer en fonction des activités émettrices et eu égard aux facteurs d’émission.",
    "generic-7": "Nous avons homogénéisé les facteurs d’émission à partir des données de la Base Carbone de l’Ademe et d’autres sources quand c’était nécessaire, de manière à ce que les facteurs d’émission totaux se décomposent en facteurs d’émission liés à la combustion, facteurs d’émission \"amont\" et facteurs d’émission \"fabrication\".  Voir la rubrique ",
    "generic-8": " Facteurs d'emissions qui explicite les choix effectués par ",
    "generic-9": " et les valeurs retenues.",
    "subtit-comb": "Emissions de combustion / émissions amont / émissions de fabrication",
    "comb-1": "Les émissions générées par une activité incluent d’une part les émissions provenant de la combustion des combustibles utilisés pour cette activité, d’autre part les émissions \"amont\" provenant de la chaîne de production de l’énergie (extraction, transport, raffinage / traitement, distribution), et enfin celles provenant de la fabrication des équipements utilisateurs d’énergie.",
    "comb-2": "Ces 3 types d’émissions sont inclus dans le calcul de l’empreinte carbone des activités. Ils sont répartis en plusieurs postes dans le bilan GES réglementaire.",
    "subtit-uncertainty-1": "Introduction",
    "uncertainty-1": "Les empreintes carbone sont calculées sur la base des facteurs d’émission (FE) présentés dans la méthodologie GES 1point5. Chacun de ces facteurs est associée à une incertitude. Cependant, les incertitudes répertoriées dans les différentes bases de données de FE utilisées (ADEME, CEDA, EPA et base achats GES 1point5) est renseignée de façon relativement qualitative (sous forme de pourcentage par FE pour l’ADEME et sous forme d’incertitude d’attribution pour la base achats GES 1point5). Quand les activités sont combinées ou sommées, se pose la question de la gestion de ces incertitudes. Ci-dessous, nous nous référerons à ce problème sous la terminologie propagation des incertitudes. Nous détaillons ci-dessous les choix que nous avons réalisés pour la propagation des incertitudes des facteurs d’émission dans le calcul de l’empreinte carbone d’un laboratoire de recherche. Nos choix sont basés sur une volonté de trouver un compromis entre la prise en compte de la nature hétérogène des incertitudes des facteurs d’émission et une forme de simplicité liée à la nature relativement imprécise des informations de départ sur ces incertitudes. <br /> Nous détaillons ci-dessous les choix que nous avons réalisés pour la propagation des incertitudes des facteurs d’émission dans le calcul de l’empreinte carbone d’un laboratoire de recherche. Nos choix sont basés sur une volonté de trouver un compromis entre la prise en compte de la nature hétérogène des incertitudes des facteurs d’émission et une forme de simplicité liée à la nature relativement imprécise des informations de départ sur ces incertitudes.",
    "subtit-uncertainty-2": "Deux types d’incertitude : biais versus variance",
    "uncertainty-2": "Un problème central dans la propagation des incertitudes concerne les covariances entre les facteurs d’émission. En effet, il est important de noter que si des facteurs d’émission sont corrélées, la combinaison de l’incertitude des empreintes des activités qui s’y réfèrent doit prendre en compte cette covariance. Pour pouvoir prendre en compte d’éventuelles corrélations il convient d’abord de distinguer les différents types d’incertitudes qui sont générées dans les calculs d’empreinte carbone : <ul style='list-style-type:square;margin-left:25px'><li>Les incertitudes qui représentent une variation d’une réalisation à une autre ;</li><li>Les incertitudes d’ordre méthodologique : erreurs relatives non-compressibles qui peuvent par exemple s’expliquer par une méconnaissance de la vraie valeur moyenne pour les méthodologies <em>top-down</em>, ou incertitude intrinsèque liée aux méthodologies <em>bottom-up</em> (par ex., deux méthodologies d’ACV peuvent donner des résultats très différents pour la même unité fonctionnelle).</li></ul>Le premier type d’incertitude correspond à une variance (ou bruit), et le second type plutôt à un biais.",
    "subtit-uncertainty-3": "Corrélation entre les facteurs d’émission",
    "uncertainty-3": "Afin de propager correctement l’incertitude, il convient de distinguer les situations où il n’y a pas de corrélation de celles où il existe une corrélation. Dans le premier cas les incertitudes seront sommées quadratiquement alors qu’elles le seront de façon linéaire dans le deuxième, de façon à respecter les recommandations du GIEC en matière de <a class='link' target='_blank' href='https://www.ipcc-nggip.iges.or.jp/public/gp/french/6_Uncertainty_FR.pdf'>gestion des incertitudes</a>. <br /> Pour savoir si deux postes d’émission sont faiblement ou fortement corrélés, il est nécessaire de considérer à la fois : <ul style='list-style-type:square;margin-left:25px'><li>La corrélation entre les facteurs d’émission eux-mêmes. Par exemple, fabriquer une voiture essence ou diesel demande à peu près les mêmes matières premières, ce qui est de nature à générer une corrélation au niveau de la fabrication et donc entre les FE eux-mêmes.</li><li> La corrélation entre les réalisations d’un même poste afin de savoir à quel point les réalisations au sein d’une même catégorie sont elles-mêmes indépendantes, aléatoires et uniformément réparties dans l’espace des possibles (ex. une flotte de 50 voitures identiques versus 50 voitures de toutes tailles).</li></ul>",
    "subtit-uncertainty-4": "Méthode de propagation des incertitudes dans <em>GES 1point5</em>",
    "uncertainty-4": "Le système mis en œuvre dans <em>GES 1point5</em> permet de propager les incertitudes linéairement proches des feuilles d’un arbre d’évaluation, puis quadratiquement aux étages inférieurs. Plus précisément, nous associons une étiquette à chaque facteur d’émission avec un groupe commun si les facteurs d’émissions sont de nature à être corrélés (par exemple entre un smartphone et une tablette, ou entre des vols court et moyen-courriers). Les incertitudes des facteurs d’émission ayant la même étiquette sont sommées linéairement et celles-ci sont sommées quadratiquement entre les groupes. <br /> Nous présentons ci-dessous deux schémas. Le premier permet de comprendre les choix de façon générique, le deuxième présente de façon détaillée les choix pour l’ensemble des postes pris en compte dans la version actuelle de GES 1point5 (au 1er septembre 2022).",
    "uncertainty-5": "<em>Schéma 1.</em> Combinaison des incertitudes entre postes corrélés et non corrélés. Chaque groupe est représenté par une lettre et chaque item d’un groupe par un chiffre (e.g., B3 représente l’incertitude de l’item 3 du groupe B. Ce schéma montre aussi l’exemple d’un item (C1) dont l’incertitude est directement sommées quadratiquement avec les autres groupes sans sous-groupe intermédiaire.",
    "uncertainty-6": "<em>Schéma 2.</em> Combinaison des incertitudes dans GES 1point5 pour les déplacements professionnels, déplacements domicile-travail, les véhicules, les bâtiments, les équipements numériques et les achats. Les sommes linéaires sont représentées par les ronds blancs et les sommes quadratiques par les ronds jaunes."
  },
  "en": {
    "title-1": "Generic",
    "title-2": "Uncertainties",
    "generic-1": "For a given GHG-emitting activity, GHG emissions are calculated as follows:",
    "generic-2": "Quantity of GHG-emitting activity * Emission factor of this activity expressed in ",
    "generic-2b": " equivalent ",
    "generic-3": "For example, a diesel vehicle that is owned by a lab and travels 10,000 km in a year emits 10,000 * 0.190 = 1,900",
    "generic-4": ", because the emission factor (combustion + upstream) of one km driven by an average French diesel vehicle is 0.190",
    "generic-5": "(source: Ademe's carbon database July 2020).",
    "generic-6": "Beyond this simple calculation, various elements must be taken into account depending on the emitting activities and with regard to the emission factors.",
    "generic-7": "We have homogenised the emission factors using data from the Ademe's carbon database and other sources where necessary, so that the total emission factors are broken down into emissions factors linked to combustion, \"upstream\" emissions factors and \"manufacturing\" emissions factors. See the ",
    "generic-8": " Emission Factors section for an explanation of the choices made by ",
    "generic-9": " and the values used.",
    "subtit-comb": "Combustion emissions / upstream emissions / manufacturing emissions",
    "comb-1": "Emissions generated by an activity include on the one hand emissions from the combustion of fuels used for this activity, on the other hand \"upstream\" emissions from the energy production chain (extraction, transport, refining/processing, distribution), and finally those from the manufacture of energy-using equipments.",
    "comb-2": "These three types of emissions are included in the calculation of the carbon footprint of activities. They are broken down into several items in the regulatory GHG inventory.",
    "subtit-uncertainty-1": "Introduction",
    "uncertainty-1": "The carbon footprints are calculated on the basis of the emission factors (EF) presented in the 1Point5 GHG methodology. Each of these factors is associated with an uncertainty. However, the uncertainties listed in the various EF databases used (ADEME, CEDA, EPA and the 1Part5 GHG purchasing database) are provided in a relatively qualitative manner (in the form of a percentage per EF for ADEME and in the form of an attribution uncertainty for the 1Part5 GHG purchasing database). When activities are combined or summed, the question of how to manage these uncertainties arises. Below, we will refer to this problem under the terminology of uncertainty propagation. <br /> Below we detail the choices we made for the propagation of emission factor uncertainties in the calculation of the carbon footprint of a research laboratory. Our choices are based on a desire to find a compromise between taking into account the heterogeneous nature of the uncertainties of the emission factors and a form of simplicity linked to the relatively imprecise nature of the initial information on these uncertainties.",
    "subtit-uncertainty-2": "Two types of uncertainty: bias versus variance",
    "uncertainty-2": "A central problem in the propagation of uncertainties concerns the covariance between emission factors. Indeed, it is important to note that if emission factors are correlated, the combination of the uncertainty of the footprints of the activities that refer to them must take this covariance into account. In order to take into account possible correlations, it is first necessary to distinguish the different types of uncertainties that are generated in carbon footprint calculations: <ul style='list-style-type:square;margin-left:25px'><li>Uncertainties that represent a variation from one realization to another;</li><li>Methodological uncertainties: non-compressible relative errors that can be explained, for example, by a lack of knowledge of the true average value for top-down methodologies, or intrinsic uncertainty linked to bottom-up methodologies (e.g., two LCA methodologies can give very different results for the same functional unit).</li></ul> The first type of uncertainty corresponds to a variance (or noise), and the second type to a bias.",
    "subtit-uncertainty-3": "Correlation between emission factors",
    "uncertainty-3": "In order to correctly propagate the uncertainty, it is necessary to distinguish between situations where there is no correlation and those where there is a correlation. In the first case, the uncertainties will be summed quadratically, while in the second case they will be summed linearly, in order to respect the IPCC recommendations on <a href='https://www.ipcc-nggip.iges.or.jp/public/gp/english/6_Uncertainty.pdf'>uncertainty management</a>. To determine whether two emission items are weakly or strongly correlated, it is necessary to consider both: <ul style='list-style-type:square;margin-left:25px'><li>The correlation between the emission factors themselves. For example, manufacturing a gasoline or diesel car requires more or less the same raw materials, which is likely to generate a correlation at the manufacturing level and therefore between the EFs themselves.</li><li>The correlation between the realizations of the same item in order to know to what extent the realizations within the same category are themselves independent, random and uniformly distributed in the space of possibilities (e.g. a fleet of 50 identical cars versus 50 cars of all sizes).</li></ul>",
    "subtit-uncertainty-4": "Uncertainty propagation method in <em>GES 1point5</em>",
    "uncertainty-4": "The system implemented in GES 1point5 propagates uncertainties linearly close to the leaves of an assessment tree, and then quadratically to the lower levels. Specifically, we associate a label with each emission factor with a common group if the emission factors are of a correlated nature (e.g. between a smartphone and a tablet, or between short and medium-haul flights). The uncertainties of the emission factors with the same label are summed linearly and these are summed quadratically between groups. <br /> We present below two diagrams. The first one allows to understand the choices in a generic way, the second one presents in detail the choices for all the items taken into account in the current version of GES 1point5 (as of September 1, 2022).",
    "uncertainty-5": "<em>Figure 1.</em> Combination of uncertainties between correlated and uncorrelated items. Each group is represented by a letter and each item of a group by a number (e.g., B3 represents the uncertainty of item 3 of group B. This diagram also shows the example of an item (C1) whose uncertainty is directly summed quadratically with the other groups without intermediate subgroups.",
    "uncertainty-6": "<em>Figure 2.</em> Combination of uncertainties in GHG 1point5 for business travel, commuting, vehicles, buildings, digital equipment and purchases. Linear sums are represented by the white circles and quadratic sums by the yellow circles."
  }
}
</i18n>

<template>
  <div>
    <b-tabs>
      <b-tab-item icon="cog" :label="$t('title-1')">
        <b-notification :closable="false">
          {{ $t('generic-1') }}<br />
          {{ $t('generic-2') }}CO<sub>2</sub>{{ $t('generic-2b') }} ({{ $t('kg.co2e') }})<br /><br />
          {{ $t('generic-3') }} {{ $t('kg.co2e') }} {{ $t('generic-4') }} {{ $t('kg.co2e') }}
          {{ $t('generic-5') }}<br /><br />
          {{ $t('generic-6') }}<br />
          {{ $t('generic-7') }}<span class="icon is-small"><i class="sui sui-cloud"></i></span>{{ $t('generic-8') }}<em>Labos 1point5</em>{{ $t('generic-9') }}
        </b-notification>

        <b-notification :closable="false">
          <b>{{ $t('subtit-comb') }}</b><br />
          {{ $t('comb-1') }}<br />
          {{ $t('comb-2') }}
        </b-notification>
      </b-tab-item>
      <b-tab-item
        v-for="(module,index) in MODULES"
        :key="index"
        :icon="ICONS[module]"
        :label="$t(module + '.short')"
      >
        <component :is="module" />
      </b-tab-item>
      <b-tab-item icon="check" :label="$t('title-2')">
        <b-notification :closable="false">
          <b>{{ $t('subtit-uncertainty-1') }}</b><br />
          <span v-html="$t('uncertainty-1')" />
        </b-notification>
        <b-notification :closable="false">
          <b>{{ $t('subtit-uncertainty-2') }}</b><br />
          <span v-html="$t('uncertainty-2')" />
        </b-notification>
        <b-notification :closable="false">
          <b>{{ $t('subtit-uncertainty-3') }}</b><br />
          <span v-html="$t('uncertainty-3')" />
        </b-notification>
        <b-notification :closable="false">
          <b v-html="$t('subtit-uncertainty-4')" /><br />
          <span v-html="$t('uncertainty-4')" />
        </b-notification>
        <b-notification :closable="false">
          <object
            data="/static/carbon/uncertaintyAbstract.pdf"
            type='application/pdf'
            style='min-height:180px;width:100%;border:1px solid lightgray;border-radius:10px;'
          >
            <p>
              It appears you don't have a PDF plugin for this browser... <br/>
              You can <a class='link' href="/static/carbon/uncertaintyAbstract.pdf">click here to download the PDF file.</a>
            </p>
          </object>
          <span v-html="$t('uncertainty-5')" />
        </b-notification>
        <b-notification :closable="false">
          <object
            data="/static/carbon/uncertaintyFull.pdf"
            type='application/pdf'
            style='min-height:760px;width:100%;border:1px solid lightgray;border-radius:10px;'
          >
            <p>
              It appears you don't have a PDF plugin for this browser... <br/>
              You can <a class='link' href="/static/carbon/uncertaintyFull.pdf">click here to download the PDF file.</a>
            </p>
          </object>
          <span v-html="$t('uncertainty-6')" />
        </b-notification>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import Vue from 'vue'
import Modules from '@/models/Modules.js'

export default {
  name: 'HelpCalculatingMethods',
  data () {
    return {
      MODULES: Modules.PACKED_MODULES,
      ICONS: Modules.ICONS
    }
  },
  beforeMount () {
    for (let module of this.MODULES) {
      Vue.component(
        module,
        // A dynamic import returns a Promise.
        () => import('@/components/carbon/forms/' + module + '/HelpCaclculatingMethod.vue')
      )
    }
  }
}
</script>
