<i18n>
{
  "fr": {
    "title": "Périmètre",
    "text": "Identifier l’année pour laquelle vous allez effectuer le BGES, c’est-à-dire l’année pour laquelle vous aurez les données mentionnées ci-dessous, <strong>avec si possible les données disponibles pour la même année pour les consommations d’énergie et les déplacements missions</strong>. Si ce n’est pas le cas, considérer que l’année du BGES sera celle des données de consommations d’énergie. <br /><br /><ul style='list-style-type:square;margin-left:25px'><li><strong>Tutelles</strong> du laboratoire : lister toutes les tutelles</li><li><strong>Disciplines principales</strong> du laboratoire, au sens HCERES, <a target='_blank' class='link' href='https://www.hceres.fr/fr/publications/domaines-et-sous-domaines-hceres'>voir la liste</a></li><li><strong>Budget annuel</strong> du labo en euros (ordre de grandeur)</li><li><strong>Nombre de personnes</strong> de votre laboratoire : une personne doit être comptée dans l’effectif du labo seulement si elle a fait partie de l’effectif du laboratoire sur les 12 mois de l’année considérée (ceci exclut les stagiaires et les personnes visitantes qui restent moins d’un an). Prenez en compte <strong>l’effectif relatif à l’année civile du BGES</strong>, ou à défaut, celui de l’année en cours</li> <ul style='list-style-type:square;margin-left:25px'><li>Nombre de chercheur.e.s, parmi le nombre de personnes de votre laboratoire</li><li>Nombre d’enseignant.e.s, parmi le nombre de personnes de votre laboratoire</li> <li>Nombre d’ITAs, parmi le nombre de personnes de votre laboratoire</li><li>Nombre de doctorant.e.s/post doctorant.e.s, parmi le nombre de personnes de votre laboratoire</li></ul> (La somme des 4 catégories ci-dessus doit être égale au nombre de personnes du laboratoire) <li>Nombre et noms des <strong>sites géographiques (villes)</strong> d’implantation du laboratoire</li> <li><strong>Taille de l’agglomération</strong> : moins de 100 000 habitants, entre 100 000 et 250 000, plus de 250 000 hab. Quand la ville où se situe votre labo compte moins de 100 000 hab mais que cette ville fait partie d’une agglomération urbaine, c’est la taille de cette agglomération qui doit être déclarée, pas celle de la ville d’implantation de votre laboratoire</li></ul>"
  },
  "en": {
    "title": "Boundaries",
    "text": "Please identify the year for which you are going to build the greenhouse gas inventory (GHGI), i.e. the year for which you have the data mentioned below, <strong> with, if possible, the data available for the same year for energy consumption and business travel</strong>. If this is not the case, please consider that the year of the GHGI is that of the energy consumption data. <br /><br /><ul style='list-style-type:square;margin-left:25px'><li><strong>Supervisory bodies</strong> of the laboratory : please list all the supervisory bodies</li><li><strong>Main academic disciplines</strong> of the laboratory, in the HCERES sense, <a target='_blank' class='link' href='https://www.hceres.fr/fr/publications/domaines-et-sous-domaines-hceres'>see the list</a></li><li><strong>Annual budget</strong> of the lab in Euros (approximately)</li><li><strong>Headcount</strong> of your laboratory : a person must be included in the headcount of the laboratory if he/she has been a member of the staff over the 12 months of the year considered (this excludes interns and visiting persons who stayed less than a year).Please consider <strong>the headcount relating to the calendar year of the GHG inventory</strong>, or, if missing, that of the current year.</li> <ul style='list-style-type:square;margin-left:25px'><li>Number of researchers among the people of your laboratory</li><li>Number of professors among the people of your laboratory</li> <li>Number of engineers & administrative staff among the people of your laboratory</li><li>Number of phD sudents and post doctoral fellows among the people of your laboratory</li></ul> (The sum of the 4 categories above must be equal to the headcount of the laboratory) <li>Number and names of <strong>geographical locations (cities)</strong> of the laboratory</li> <li><strong>Size of the conurbation</strong> : less than 100,000 inhabitants, between 100,000 and 250,000, more than 250,000 inhab. When the city where your lab is located has less than 100,000 inhabitants but is part of a conurbation, the size of the conurbation must be declared, not that of the city where your laboratory is located</li></ul>"
  }
}
</i18n>

<template>
  <div>
    <b-tabs
      :animated="false"
    >
      <b-tab-item
        icon="square"
        :label="$t('title')"
      >
        <b-notification :closable="false">
          <span v-html="$t('text')" />
        </b-notification>
      </b-tab-item>
      <b-tab-item
        v-for="(module,index) in MODULES"
        :key="index"
        :icon="ICONS[module]"
        :label="$t(module + '.short')"
      >
        <component :is="module" />
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import Vue from 'vue'
import Modules from '@/models/Modules.js'

export default {
  name: 'HelpData',
  data () {
    return {
      activeModule: 'bc-introduction',
      MODULES: Modules.PACKED_MODULES,
      ICONS: Modules.ICONS
    }
  },
  methods: {
    activate: function (cmodule) {
      this.activeModule = cmodule
    }
  },
  beforeMount () {
    for (let module of this.MODULES) {
      Vue.component(
        module,
        // A dynamic import returns a Promise.
        () => import('@/components/carbon/forms/' + module + '/HelpData.vue')
      )
    }
  }
}
</script>
