<i18n>
{
  "fr": {
    "title": "Remerciements",
    "text-1": "Nous remercions vivement les personnes qui ont contribué à l’élaboration et/ou aux tests de <em>GES 1point5</em>, par ordre alphabétique :"
  },
  "en": {
    "title": "Acknowledgments",
    "text-1": "A warm thank you to the people who contributed to the preparation and/or testing of <em>GES 1point5</em>, in alphabetical order:"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'thumbs-o-up'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p>
        <span v-html="$t('text-1')" />
        <ul class="bcthanks">
          <li>Tamara Ben Ari : CIRED, Nogent sur Marne</li>
          <li>Olivier Berné : IRAP, Toulouse</li>
          <li>Françoise Berthoud : GRICAD, Grenoble</li>
          <li>Iago Bonnici : LIRMM, Montpellier</li>
          <li>Leila Boubekeur-Lecaque : ITODYS, Paris</li>
          <li>Samuel Calvet : IN2P3, Clérmont-Ferrand</li>
          <li>Julian Carrey : LPCNO, Toulouse</li>
          <li>Maximilien Chaumon : ICM, Paris</li>
          <li>Emmanuel Faure : LIRMM, Montpellier</li>
          <li>Frédéric Héran : CLERSÉ, Lille</li>
          <li>Etienne-Pascal Journet : INRAE, Toulouse</li>
          <li>Sandrine Laguerre : INSA, Toulouse</li>
          <li>Karine Leblanc : MIO, Marseille</li>
          <li>Arthur Leblois : IMN, Bordeaux</li>
          <li>Anne-Laure Ligozat : LIMSI, Orsay</li>
          <li>Maxence Morel : Université Grenoble Alpes, Grenoble</li>
          <li>Sébastien Mustière : COGIT, Saint-Mandé</li>
          <li>Géraldine Sarret : ISTerre, Grenoble</li>
          <li>Jonathan Schaeffer : OSUG, Grenoble</li>
          <li>Xavier Schwindenhammer : Université Grenoble Alpes, Grenoble</li>
          <li>Zhou Xu : Sorbonne Université, Paris</li>
        </ul>
      </p>
    </su-service>
  </div>
</template>

<script>
export default {
  name: 'Thanks',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>

<style lang="css" scoped>
  .bcthanks {
    list-style-type:square;
    margin-left:25px
  }
  .bcthanks > li {
    padding-top: 5px;
  }
</style>
