<i18n>
{
  "fr": {
    "title": "Formats des fichiers de bâtiments",
    "title-2": "Liste des fluides frigorigènes",
    "text-1": "GES 1point5 reconnaît deux types de fichier de bâtiments :",
    "type-1": "<strong>Fichiers énergies </strong>",
    "type-2": "<strong>Fichiers fluides frigorigènes </strong>",
    "tab-1": "Fichiers énergies",
    "tab-2": "Fichiers fluides frigorigènes",
    "info-1": "fichier exemple",
    "info-1a": "format tsv",
    "info-1b": "ou",
    "info-1c": " format csv",
    "desc-1": "Ils regroupent les caractéristiques des bâtiments (nom, superficie, site) ainsi que les consommations d’énergie (électricité et chauffage). Le fichier doit contenir un bâtiment par ligne. Plusieurs installations de chauffage peuvent être renseignées pour un même bâtiment.",
    "desc-2": "Ils fournissent les données des fluides frigorigènes utilisés pour les chambres froides et la climatisation : quels gaz et quelle quantité de fuites sur l’année considérée ? Les fuites de gaz peuvent être estimées à l’aide des factures d’entretien des systèmes de climatisation qui indiquent la quantité de gaz rechargée. Chaque ligne du fichier doit correspondre à un gaz pour un bâtiment. Si plusieurs gaz sont utilisés dans un même bâtiment, ajoutez autant de lignes que nécessaire en dupliquant le nom du bâtiment (voir l’exemple). A noter que les fichiers fluides frigorigènes doivent être téléversés après les fichiers énergies afin que les noms des bâtiments soient reconnus.",
    "enf-1": "<strong>« bâtiment » </strong> : nom du bâtiment. Si le bâtiment a déjà été renseigné dans un précédent BGES, veuillez utiliser le même nom si possible ;",
    "enf-2": "<strong>« surface » </strong> : surface utile brute (SUB) du bâtiment ;",
    "enf-3": "<strong>« occupation » </strong> : fraction de la SUB utilisée par votre laboratoire. Soit vous avez l’information précise pour cette part et vous la renseignez, soit vous l’estimez le mieux possible sur la base de vos observations ;",
    "enf-4": "<strong>« site (optionnel) » </strong> : nom du site auquel appartient le bâtiment. Le nom doit correspondre aux sites que vous avez renseignés dans l’onglet « mon laboratoire » de la section administration ;",
    "enf-5": "<strong>« électricité » </strong> : consommation d’électricité en kWh ;",
    "enf-6": "<strong>« autoproduction (optionnel) » </strong> : si le bâtiment produit et autoconsomme de l’électricité photovoltaïque, indiquez la consommation annuelle en kWh. Si l’électricité produite n’est pas autoconsommée mais revendue sur le réseau n’indiquez rien ;",
    "enf-7": "<strong>« chauffage électrique (optionnel) » </strong> : si tout ou partie du chauffage du bâtiment est électrique, indiquez « OUI » dans cette colonne ;",
    "enf-8": "<strong>« identifiant réseau de chaleur (optionnel<sup>*</sup>) » </strong> : si tout ou partie du chauffage du bâtiment est fourni par un réseau de chaleur, indiquez l’identifiant du réseau que vous trouverez à l’aide de l’outil ci-dessous ;",
    "enf-9": "<strong>« consommation réseau de chaleur (optionnel<sup>*</sup>) » </strong> : le cas échéant, indiquez la consommation de chaleur en kWh fournie par le réseau ;",
    "enf-10": "<strong>« gaz naturel (optionnel<sup>*</sup>) » </strong> : indiquez en kWh PCI la consommation de gaz naturel pour le chauffage du bâtiment ;",
    "enf-11": "<strong>« propane (optionnel<sup>*</sup>) » </strong> : indiquez en kWh PCI la consommation de propane pour le chauffage du bâtiment ;",
    "enf-12": "<strong>« fioul (optionnel<sup>*</sup>) » </strong> : indiquez en kWh PCI la consommation de fioul pour le chauffage du bâtiment ;",
    "enf-13": "<strong>« biométhane (optionnel<sup>*</sup>) » </strong> : indiquez en kWh PCI la consommation de biométhane pour le chauffage du bâtiment ;",
    "enf-14": "<strong>« granulés (optionnel<sup>*</sup>) » </strong> : indiquez en kg la consommation de granulés de bois pour le chauffage du bâtiment ;",
    "enf-15": "<strong>« plaquettes (optionnel<sup>*</sup>) » </strong> : indiquez en kg la consommation de plaquettes forestières pour le chauffage du bâtiment ;",
    "enf-16": "<strong>« bûches (optionnel<sup>*</sup>) » </strong> : indiquez en kg la consommation de bûches pour le chauffage du bâtiment ;",
    "enf-16": "<strong>« propriétaire (optionnel)» </strong> : si le laboratoire est propriétaire d’une ou plusieurs des installations de chauffage du bâtiment (voir documentation), indiquez dans cette colonne la liste de ces installations séparées par une virgule. Les valeurs suivantes sont acceptées : ",
    "enf-17": "Exemple : si le laboratoire est propriétaire d’un bâtiment qui est alimenté par une chaufferie au gaz naturel et une chaudière à granulés indiquez : <i>gaz,granulés</i> ;",
    "footnote" : "<strong><sup>*</sup></strong> <i>Les colonnes liées au chauffage sont toutes indiquées comme optionnelles, cependant, au moins une consommation de chauffage doit être renseignée pour que le bâtiment soit considéré valide.</i>",
    "ref-1": "<strong>« bâtiment » </strong> : nom du bâtiment. Veuillez renseigner le même nom que celui utilisé dans le fichier énergie ;",
    "ref-2": "<strong>« gaz » </strong> : identifiant du gaz frigorigène. Voir la liste des identifiants reconnus ci-dessous.",
    "ref-3": "<strong>« quantité » </strong> : quantité de fuites de gaz en kg ;",
    "label-1": "Réseau de chaleur",
    "label-2": "Identifiant",
    "label-3": "Identifiant fluide frigorigène",
    "placeholder": "Selectionner le réseau",
    "placeholder-2": "Selectionner le fluide",
    "tooltip": "Copier dans le presse-papier",
    "toast-1": "Identifiant copié dans le presse-papier",
    "toast-2": "Identifiant non copié. Une erreur s'est produite."
  },
  "en": {
    "title": "Formats of the building files",
    "title-2": "List of refrigerants",
    "text-1": "GES 1point5 recognizes two types of building files:",
    "type-1": "<strong>Energy files </strong>",
    "type-2": "<strong>Refrigerant files </strong>",
    "tab-1": "Energy files",
    "tab-2": "Refrigerant files",
    "info-1": "sample file",
    "info-1a":  "tsv format",
    "info-1b": "or",
    "info-1c": "csv format",
    "desc-1": "They include the characteristics of the buildings (name, area, site) as well as the energy consumption (electricity and heating). The file must contain one building per line. Several heating systems can be entered for the same building.",
    "desc-2": "They provide data on refrigerants used for cold rooms and air conditioning: which gases and how much leakage occurred in the year under review? Gas leaks can be estimated using the maintenance invoices of the air conditioning systems which indicate the quantity of gas recharged. Each line in the file should correspond to one gas for one building. If more than one gas is used in a building, add as many lines as necessary by duplicating the building name (see example). Note that the refrigerant files must be uploaded after the energy files so that the building names are recognized.",
    "enf-1": "<strong>« building »</strong>: name of the building. If the building has already been provided in a previous BGES, please use the same name if possible;",
    "enf-2": "<strong>« area » </strong>: gross floor area (GFA) of the building ;",
    "enf-3": "<strong>« share » </strong>: fraction of the GFA used by your laboratory. Either you have the precise information for this fraction and you fill it in, or you estimate it as best you can based on your observations;",
    "enf-4": "<strong>« site (optional) » </strong>: name of the site to which the building belongs. The name must correspond to the sites you have entered in the \"my lab\" tab of the administration section;",
    "enf-5": "<strong>« electricity » </strong>: electricity consumption in kWh;",
    "enf-6": "<strong>« selfproduction (optional) » </strong>: if the building produces and consumes photovoltaic electricity, indicate the annual consumption in kWh. If the electricity produced is not consumed by the building but sold to the grid, do not indicate anything;",
    "enf-7": "<strong>« electric heating (optional) » </strong>: if all or part of the building's heating is electric, indicate \"YES\" in this column;",
    "enf-8": "<strong>« urban network id (optional<sup>*</sup>) » </strong>: if all or part of the building's heating is provided by an urban network, indicate the network identifier which you can find using the tool below (for France only at the moment);",
    "enf-9": "<strong>« urban network consumption (optional<sup>*</sup>) » </strong>: if applicable, indicate the heat consumption in kWh supplied by the network;",
    "enf-10": "<strong>« natural gas (optional<sup>*</sup>) » </strong> : indicate in kWh LHV the consumption of natural gas for heating the building;",
    "enf-11": "<strong>« propane (optional<sup>*</sup>) » </strong>: indicate in kWh LHV the consumption of propane for heating the building;",
    "enf-12": "<strong>« oil (optional<sup>*</sup>) » </strong>: indicate in kWh LHV the consumption of heating oil;",
    "enf-13": "<strong>« biomethane (optional<sup>*</sup>) » </strong>: indicate in kWh LHV the consumption of biomethane for heating the building;",
    "enf-14": "<strong>« pellets (optional<sup>*</sup>) » </strong>: indicate in kg the consumption of wood pellets for heating the building;",
    "enf-15": "<strong>« chips (optional<sup>*</sup>) » </strong>: indicate in kg the consumption of wood chips for heating the building ;",
    "enf-16": "<strong>« logs (optional<sup>*</sup>) » </strong>: indicate in kg the consumption of wood logs for heating the building;",
    "enf-16": "<strong>« owner (optional) » </strong>: if the laboratory owns one or more of the building's heating systems (see documentation), enter in this column the list of these systems separated by a comma. The following values are accepted:",
    "enf-17": "Example: if the laboratory owns a building that is powered by a natural gas boiler and a pellet boiler indicate: <i>gas,pellets</i>;",
    "footnote" : "<strong><sup>*</sup></strong> <i>The heating related columns are all listed as optional, however, at least one heating consumption must be filled in for the building to be considered valid.</i>",
    "ref-1": "<strong>« building » </strong>: name of the building. Please enter the same name as the one used in the energy file;",
    "ref-2": "<strong>« gas » </strong>: Refrigerant identifier. See the list of recognized identifiers below.",
    "ref-3": "<strong>« quantity » </strong>: quantity of gas leakage in kg;",
    "label-1": "Urban network",
    "label-2": "Identifier",
    "label-3": "Refrigerant id",
    "placeholder": "Select network",
    "placeholder-2": "Select gas",
    "tooltip": "Copy to clipboard",
    "toast-1": "Identifier copied to clipboard",
    "toast-2": "Identifier not copied. An error occured."
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'file-text'" v-if="header">
      <template #title>
        {{ $t('title') }}
      </template>
      {{ $t('text-1') }}
      <ul style="list-style-type:square;margin-left:25px">
        <li><span v-html="$t('type-1')" />
          ({{ $t('info-1') }} <a class='link' target='_blank' href='/static/carbon/buildingTemplate.tsv'>{{ $t('info-1a') }}</a>
          {{ $t('info-1b') }}
          <a class='link' target='_blank' href='/static/carbon/buildingTemplate.csv'> {{ $t('info-1c') }}</a>) :
          {{ $t('desc-1') }}
        </li>
        <li><span v-html="$t('type-2')" />
          ({{ $t('info-1') }} <a class='link' target='_blank' href='/static/carbon/refrigerantTemplate.tsv'>{{ $t('info-1a') }}</a>
          {{ $t('info-1b') }}
          <a class='link' target='_blank' href='/static/carbon/refrigerantTemplate.csv'> {{ $t('info-1c') }}</a>) :
          {{ $t('desc-2') }}
        </li>
      </ul>
    </su-service>
    <div class="box-blue" v-else>
      {{ $t('text-1') }}
      <ul style="list-style-type:square;margin-left:25px">
        <li><span v-html="$t('type-1')" />
          ({{ $t('info-1') }} <a class='link' target='_blank' href='/static/carbon/buildingTemplate.tsv'>{{ $t('info-1a') }}</a>
          {{ $t('info-1b') }}
          <a class='link' target='_blank' href='/static/carbon/buildingTemplate.csv'> {{ $t('info-1c') }}</a>) :
          {{ $t('desc-1') }}
        </li>
        <li><span v-html="$t('type-2')" />
          ({{ $t('info-1') }} <a class='link' target='_blank' href='/static/carbon/refrigerantTemplate.tsv'>{{ $t('info-1a') }}</a>
          {{ $t('info-1b') }}
          <a class='link' target='_blank' href='/static/carbon/refrigerantTemplate.csv'> {{ $t('info-1c') }}</a>) :
          {{ $t('desc-2') }}
        </li>
      </ul>
    </div>
    <b-tabs class="block">
      <b-tab-item :label="$t('tab-1')">
        <ul style="list-style-type:square;margin-left:25px">
          <li v-html="$t('enf-1')"></li>
          <li v-html="$t('enf-2')"></li>
          <li v-html="$t('enf-3')"></li>
          <li><span v-html="$t('enf-4')" /></li>
          <li v-html="$t('enf-5')"></li>
          <li><span v-html="$t('enf-6')" /></li>
          <li><span v-html="$t('enf-7')" /></li>
          <li v-html="$t('enf-8')">
          </li>
          <br />
          <b-notification :closable="false">
            <div class="columns">
              <div class="column">
                <b-field :label="$t('label-1')">
                  <b-autocomplete
                    expanded
                    name="network"
                    :placeholder="$t('placeholder')"
                    v-model="urbanNetwork"
                    open-on-focus
                    :data="filteredUrbanNetwork()"
                    field="description_FR"
                    @select="option => (selected = option)"
                    clearable
                  />
                </b-field>
              </div>
              <div class="column is-one-third">
                <b-field :label="$t('label-2')">
                  <b-input
                    :value="networkID(selected)"
                    :readonly="true"
                  ></b-input>
                  <p class="control" expanded>
                    <b-button
                      :disabled="selected ? false : true"
                      class="button"
                      type="is-primary"
                      icon-left="copy"
                      v-clipboard:copy="networkID(selected)"
                      v-clipboard:success="copySuccess"
                      v-clipboard:error="copyError"
                    >
                      {{ $t('copy') }}
                    </b-button>
                  </p>
               </b-field>
              </div>
            </div>
          </b-notification>
          <li v-html="$t('enf-9')" />
          <li v-html="$t('enf-10')" />
          <li v-html="$t('enf-11')" />
          <li v-html="$t('enf-12')" />
          <li v-html="$t('enf-13')" />
          <li v-html="$t('enf-14')" />
          <li v-html="$t('enf-15')" />
          <li><span v-html="$t('enf-16')" /> {{ heatingType }}. <span v-html="$t('enf-17')" /> </li>
        </ul>
        <br />
        <p v-html="$t('footnote')" />
      </b-tab-item>
      <b-tab-item :label="$t('tab-2')">
        <ul style="list-style-type:square;margin-left:25px">
          <li v-html="$t('ref-1')" />
          <li v-html="$t('ref-2')" />
          <li v-html="$t('ref-3')" />
          <br />
          <div class="columns">
            <div class="column is-11">
              <b-notification :closable="false">
                <b-field :label="$t('label-3')">
                  <b-autocomplete
                      expanded
                      name="refrigerantId"
                      :placeholder="$t('placeholder-2')"
                      v-model="refrigerant"
                      open-on-focus
                      :data="filteredRefrigerants()"
                      :custom-formatter="option => getRefrigerantDescription(option)"
                      @select="option => selectedRefrigerant = option"
                      clearable
                    />
                  <p class="control">
                    <b-button
                      class="button"
                      type="is-primary"
                      icon-left="copy"
                      v-clipboard:copy="getRefrigerantDescription(selectedRefrigerant)"
                      v-clipboard:success="copySuccess"
                      v-clipboard:error="copyError"
                    >
                      {{ $t('copy') }}
                    </b-button>
                  </p>
                </b-field>
              </b-notification>
            </div>
          </div>
        </ul>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import Building from '@/models/carbon/Building.js'
import { keysToHeatingType } from '@/utils/buildingsParser'
export default {
  name: 'VehiclesFileFormat',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  props: ['header'],
  data () {
    return {
      selected: null,
      selectedRefrigerant: null,
      urbanNetwork: '',
      refrigerant: ''
    }
  },
  computed: {
    heatingType: function () {
      return Object.keys(keysToHeatingType)
    },
    urbanNetworks: function () {
      return Building.getUrbanNetworks()
    },
    refrigerants: function () {
      return Building.getRefrigerants()
    }
  },

  methods: {
    filteredUrbanNetwork () {
      return this.urbanNetworks.filter(option => {
        return option.description_FR
          .toString()
          .toLowerCase()
          .indexOf(this.urbanNetwork.toLowerCase()) >= 0
      })
    },
    filteredRefrigerants () {
      return this.refrigerants.filter(option => {
        return option
          .toString()
          .toLowerCase()
          .indexOf(this.refrigerant.toLowerCase()) >= 0
      })
    },
    networkID (selected) {
      if (selected) {
        return selected.network
      } else {
        return null
      }
    },
    copySuccess: function () {
      this.$buefy.toast.open({
        message: this.$t('toast-1'),
        type: 'is-light'
      })
    },
    copyError: function () {
      this.$buefy.toast.open({
        message: this.$t('toast-2'),
        type: 'is-danger is-light'
      })
    },
    getRefrigerantDescription: function (type) {
      if (type) {
        return Building.getDescription('refrigerants', type)
      } else {
        return null
      }
    }
  }
}
</script>
