<i18n>
{
  "fr": {
    "text-1": "<b>Taux de réponse au questionnaire domicile-travail</b><br/> Il convient d’éviter le plus possible d’avoir un taux de réponse faible, typiquement inférieur à 50%. Pour cela, le soutien du DU à la démarche globale de construction du BGES est primordial. Vous pouvez aussi former des référents par équipe de recherche au sein du laboratoire, pour inciter les collègues de chaque équipe à répondre au questionnaire."
  },
  "en": {
    "text-1": "<b>Response rate to the commuting survey</b><br/> A low response rate, typically below 50%, should be avoided as much as possible. For this, the support of the director of your lab in the overall process of building the GHGI is essential. You can also train referents per research team within the laboratory, to encourage colleagues in each team to answer the survey."
  }
}
</i18n>

<template>
  <p v-html="$t('text-1')" />
</template>

<script>
export default {
  name: 'HelpManual'
}
</script>
