<i18n>
{
  "fr": {
    "title": "Les véhicules (véhicules routiers, bateaux ou encore aéronefs)",
    "title-2": "Suppression",
    "save-msg": "Les informations de véhicules ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>.",
    "info-1": "Définissez l'ensemble des véhicules utilisés par le laboratoire ou loués en",
    "info-2": "dans le cadre d’un contrat de leasing, en dehors des véhicules inclus dans les frais des missions.",
    "info-3": "Lorsque des véhicules sont mutualisés entre plusieurs entités (laboratoires, universités ou autres), chaque entité prend 'sa part' des kms parcourus ou des litres de carburant consommés, soit sur une base comptable si vous avez les dépenses réelles, soit avec une estimation 'à la louche' de l'emprunt par chaque entité des véhicules (en nombre de jours sur l'année par exemple). Il convient de se mettre d’accord entre entités sur la répartition des kms ou des litres consommés, afin d'éviter d’éventuels doubles comptages ou omissions.",
    "info-4": "Téléverser un fichier (.tsv ou .csv)",
    "info-5": "Certaines données de véhicules ne sont pas valides, continuer va entraîner leur suppression. <br /> Êtes vous sûr de vouloir continuer ?",
    "info-6": "Les données des véhicules peuvent être saisies manuellement (bouton Ajouter). Dans le cas des véhicules routiers (voitures, motos, trottinettes électriques, vélos) vous pouvez également transmettre les données à l'aide de fichiers de véhicules que vous pouvez téléverser. Chaque fichier doit être au format .tsv ou .csv",
    "info-7a": "exemple.tsv",
    "info-7b": "ou",
    "info-7c": "exemple.csv",
    "info-8": "Ce fichier doit être encodé en utf-8 et doit contenir un item par ligne avec les quatres colonnes suivantes :",
    "file": {
      "col1": "<strong>« Identifiant »</strong> : identifiant/nom du véhicule. Si le véhicule a déjà été renseigné dans un précédent BGES, veuillez utiliser le même identifiant si possible.",
      "col2": "<strong>« Type »</strong> : le type de véhicule parmi: <em> voiture, moto, vélo, trottinette </em>.",
      "col3": "<strong>« Motorisation »</strong> : la motorisation du véhicule. Les valeurs possibles sont données entre parenthèses pour chaque type de véhicule: voiture (<em>essence, diesel, inconnue, GPL, GNV, E85, hybride, électrique</em>), moto (<em>essence</em>), vélo (<em>musculaire, électrique</em>), trottinette (<em>électrique</em>).",
      "col4": "<strong>« Distance »</strong> : la distance totale parcourue dans l'année en km."
    },
    "info-valid": "Lorsque des informations requises (identifiant, type ou motorisation) manquent ou sont erronées pour certains véhicules, le statut <em>non valide</em> apparaît. Si seule la consommation est manquante le statut <em>incomplet</em> apparaît. Dans les deux cas, en cliquant sur <i class='sui sui-pencil' style='font-size: 16px;'></i>, vous pouvez corriger ou compléter la saisie du véhicule concerné. Si aucune modification n’est opérée, les véhicules non valides seront supprimés lors de la sauvegarde de vos données. Les véhicules incomplets seront en revanche conservés mais non pris en compte lors du calcul des émissions de GES tant que la consommation ne sera pas renseignée.",
    "label-1": "Synthèse du fichier",
    "label-2": "Synthèse Globale",
    "label-3": "Lignes valides",
    "label-4": "Distance totale",
    "label-5": "Carburant total",
    "tooltip-1": "Véhicules routiers uniquement",
    "tooltip-2": "Véhicules aériens et maritimes uniquement. \n N'inclut pas les campagnes côtières et en mer.",
    "delete-msg": "Êtes vous sûr de vouloir supprimer le véhicule",
    "message-1": "Format de fichier invalide",
    "message-2": "<div class='content'><p>Le séparateur de colonnes doit être l'un des caractères suivants : <code>,</code>, <code>;</code>, <code>\t</code>.</p></div>",
    "message-3": "Fichier invalide",
    "message-4": "<div class='content'>Nous avons rencontré les problèmes suivants : Colonnes manquantes ou non reconnues. <p>Cela peut venir d'un mauvais nommage des colonnes, ou bien d'un mauvais formattage du fichier.</p></div>",
    "message-5": "Fichier dupliqué",
    "message-6": "Un fichier avec le même nom a déjà été importé dans <em>GES 1point5</em>.",
    "message-7": "Suppression",
    "message-8": "Êtes vous sûr de vouloir supprimer les données du fichier",
    "message-9": "Êtes vous sûr de vouloir supprimer l'ensemble des données ?",
    "message-10": "Vehicule(s) non reconnu(s)",
    "message-11": "Certains identifiants de vehicules n'ont pas été reconnus. \n Verifiez que les noms de vehicules utilisés dans les fichiers correspondent.",
    "message-12": "Vehicule dupliqué",
    "message-13": "Un Véhicule avec le même nom a déjà été importé.",
    "save-msg": "Les informations d'achats ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>."
  },
  "en": {
    "title": "Vehicles (road vehicles, ships, aircraft)",
    "title-2": "Delete",
    "save-msg": "The data relating to the vehicles have been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "info-1": "Enter all the vehicles used or leased in",
    "info-2": "within a lease agreement, excluding vehicles accounted for in the business trip bills",
    "info-3": "When vehicles are shared between several entities (laboratories, universities or any other entity), each entity reports its own share of the distances traveled or of the fuel consumed, either from data of the accounting system if you can have access to real expenses, or from a rough estimate of the use of the vehicle by each entity (e.g. number of days per year). It is important to reach an agreement between the entities about the distribution of kms or liters consumed so as to avoid double counting or missing emissions.",
    "info-4": "Upload a file (.tsv or .csv)",
    "info-5": "Some vehicles data are not valid. \n <br />Would you like to delete the corresponding vehicles?",
    "info-6": "Vehicles data can be entered manually (Add button). In the case of road vehicles (cars, motorbikes, electric scooters, bikes) you can also upload the data using vehicle files. Each file must be in .tsv or .csv format.",
    "info-7a": "exemple.tsv",
    "info-7b": "or",
    "info-7c": "exemple.csv",
    "info-8": "This file must be encoded in utf-8 and contain one item per line with the following four columns:",
    "file": {
      "col1": "<strong>« Id »</strong> : vehicle identifier/name. If the vehicle has already been entered in a previous GHGI, please use the same identifier if possible.",
      "col2": "<strong>« Type »</strong> : the type of vehicle from: <em>car, motorbike, bike, scooter</em>.",
      "col3": "<strong>« Engine »</strong> : the vehicle's engine. The possible values are given in brackets for each type of vehicle: car (<em>gasoline, diesel, unknown, LPG, CNG, E85, hybrid, electric</em>), motorbike (<em>gasoline</em>), bike (<em>muscular, electric</em>), scooter (<em>electric</em>).",
      "col4": "<strong>« Distance »</strong> : the total distance travelled during the year in km."
    },
    "info-valid": "When required data (id, type or engine) are missing or incorrect for some vehicles, the status is <em>invalid</em>. If only consumption is missing, the status is <em>incomplete</em>. In both cases, when clicking on <i class='sui sui-pencil' style='font-size: 16px;'></i>, you can correct or complete the data of the related vehicle. If no changes are made, invalid vehicles will be deleted when you save the data. Incomplete vehicles, on the other hand, will be retained but will not be taken into account in the calculation of GHG emissions until the consumption has been provided.",
    "label-1": "File overview",
    "label-2": "Overview",
    "label-3": "Valid rows",
    "label-4": "Total distance",
    "label-5": "Total fuel",
    "tooltip-1": "Road vehicles only",
    "tooltip-2": "Aircrafts and ships only. \n <br /> Does not include sea and coastal campaigns.",
    "delete-msg": "Are you sure you want to delete the vehicle?",
    "message-1": "Invalid file format",
    "message-2": "<div class='content'><p>The column separator must be one of the following characters: <code>,</code>, <code>;</code>, <code>\t</code>.</p></div>",
    "message-3": "Invalid file",
    "message-4": "<div class='content'>The tool identified the following issues: <ul><li><strong>« NACRES code »</strong> column missing or not found.</li><li><strong>« Amount »</strong> column missing or not found.</li></ul><p>This might be explained by a bad naming of the columns, or a bad formatting of the file.</p></div>",
    "message-5": "Duplicate file",
    "message-6": "A file with the same name has already been imported into <em>GES 1point5</em>.",
    "message-7": "Delete",
    "message-8": "Are you sure that you want to delete the data uploaded from the file ",
    "message-9": "Are you sure that you want to delete all data?",
    "message-10": "Vehicle(s) not recognized",
    "message-11": "Some vehicles identifiers were not recognized. \n Check that the names used in the files match. ",
    "message-12": "Duplicate vehicle",
    "message-13": "A vehicle with the same name has already been imported.",
    "save-msg": "The data relating to purchases have been <strong><span style='color:green;'>successfully</span></strong>saved."
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="error" />
    <su-service :icon="'car'">
      <template #title>
        {{ $t('title') }}
      </template>
      <div class="content">
        <p>
          {{ $t('info-1') }} <strong>{{ GHGIyear }}</strong> {{ $t('info-2') }}
          <br />
          <br />
          {{ $t('info-3') }}
          <br />
          <br />
          {{ $t('info-6') }}
          (<a href="/static/carbon/vehiclesTemplate.tsv" download>{{ $t('info-7a') }}</a>
          {{ $t('info-7b') }}
          <a href="/static/carbon/vehiclesTemplate.csv" download>{{ $t('info-7c') }}</a>).
          {{ $t("info-8") }}
        </p>
        <ul>
            <li v-html="$t('file.col1')"></li>
            <li v-html="$t('file.col2')"></li>
            <li v-html="$t('file.col3')"></li>
            <li v-html="$t('file.col4')"></li>
        </ul>
        <p>
        <br />
        <span v-html="$t('info-valid')"></span>
        </p>
      </div>
    </su-service>
    <br />
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <b-field>
            <b-select expanded v-model="currentFile">
              <option v-for="(file,key) in allFiles" :key="key" :value="file.filename">
                <template v-if="key !== 0">{{ $t('label-1') }} </template>
                {{ file.filename }}
              </option>
            </b-select>
            <p class="control">
              <b-button
                :disabled="submitted"
                @click="del"
                icon-left="trash"
              />
            </p>
          </b-field>
        </b-notification>
        <div class="columns">
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-3') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span> {{ totalValid | splitNumber }} / {{ (totalValid + totalInvalid) | splitNumber }} </span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-4') }}
                    <b-tooltip
                      :label="$t('tooltip-1')"
                      position="is-bottom"
                      type="is-dark"
                    >
                      <b-icon icon="info-circle" />
                    </b-tooltip>
                  </p>
                  <div class="title is-size-4">
                    <p>
                        <span>{{ totalDistance | splitFloat }} km</span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-5') }}
                    <b-tooltip
                      :label="$t('tooltip-2')"
                      position="is-bottom"
                      type="is-dark"
                    >
                      <b-icon icon="info-circle" />
                    </b-tooltip>
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span>{{ totalFuel | splitFloat }} L </span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
        </div>
      </div>
      <div class="column is-4 is-flex is-vcentered">
        <b-upload
          :disabled="submitted"
          v-model="dropFile"
          drag-drop
          expanded
          type="is-info"
        >
          <section class="section">
            <div class="content has-text-centered">
              <p>
                <span class="icon">
                  <i style="font-size: 36px" class="sui sui-upload"></i>
                </span>
              </p>
              <p>{{ $t('info-4') }}</p>
            </div>
          </section>
        </b-upload>
      </div>
    </div>
    <br />

    <vehicles-table
      @edit="edit"
      @delete="$emit('is-modified', true)"
    />

    <vehicle-modal
      v-if="vehicle!==null"
      :displayModal="displayModal"
      :vehicle="vehicle"
      :vehicles="vehicles"
      :modeCreation="modeCreation"
      @close="closeModal"
      @update="update"
      @add="add"
    />
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            :disabled="submitted"
            @click="displayAddForm()"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            class="level-item"
            :icon-left="validSavedIcon"
            :disabled="!module.isModified"
            type="is-primary"
            @click="validate()"
          >
            <span v-if="isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Vehicle from '@/models/carbon/Vehicle.js'
import { parseFile, keysToType, keysToEngine } from '@/utils/vehiclesParser'
import { mapGetters } from 'vuex'
import Modules from '@/models/Modules.js'

const DEFAULT_TYPE = 'car'
const DEFAULT_ENGINE = 'gasoline'
const DEFAULT_UNIT = 'km'
const DEFAULT_NOENGINE = 1

export default {
  name: 'Vehicles',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'vehicle-modal': () => import('@/components/carbon/forms/vehicles/Modal.vue'),
    'vehicles-table': () => import('@/components/carbon/forms/vehicles/Table.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    module: {
      type: Object
    }
  },
  data () {
    return {
      error: '',
      displayTSV: false,
      modeCreation: false,
      displayModal: false,
      vehicle: null,
      dropFile: null,
      currentFile: this.$t('label-2'),
      allFiles: [
        {
          'filename': this.$t('label-2')
        }
      ]
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    validSavedIcon: function () {
      let icon = null
      if (this.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    submitted: function () {
      return this.$store.getters['ghgi/item']['vehiclesSubmitted']
    },
    GHGIyear: function () {
      return this.$store.getters['ghgi/item']['year']
    },
    vehicles: function () {
      return this.$store.getters['ghgi/items'](Modules.VEHICLES)
    },
    totalDistance: function () {
      let validVehicles = this.vehicles.filter(obj => obj.score === 1 && obj.unit === 'km')
      return validVehicles.map(obj => obj.getConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0).toFixed(0)
    },
    totalFuel: function () {
      let validBoats = this.vehicles.filter(obj => obj.score === 1 && obj.type === 'boat' && !obj.engine.startsWith('campaigns'))
      let validAircrafts = this.vehicles.filter(obj => obj.score === 1 && obj.type === 'aircraft')
      let boatsFuel = validBoats.map(obj => obj.getConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0)
      let aircraftsFuel = validAircrafts.map(obj => obj.getAircraftConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0)
      return (boatsFuel + aircraftsFuel).toFixed(0)
    },
    totalInvalid: function () {
      return this.$store.getters['ghgi/invalidItems'](Modules.VEHICLES).length
    },
    totalValid: function () {
      return this.$store.getters['ghgi/validItems'](Modules.VEHICLES).length
    }
  },
  mounted () {
    if (this.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.$store.dispatch('admin/getAllVehicles')
        .then(data => {
          loadingComponent.close()
        })
    }
  },
  watch: {
    dropFile: function () {
      if (this.dropFile) {
        let allFilesNames = this.allFiles.map(obj => obj.filename)
        if (!allFilesNames.includes(this.dropFile.name)) {
          this.error = ''
          this.$emit('is-modified', true)
          let self = this
          try {
            parseFile(this.dropFile)
              .then((results) => {
                let [data, headerMap, error] = results
                if (error === 'ok') {
                  const allVehiclesInDB = self.$store.getters['admin/allVehicles']
                  for (let line of data) {
                    let newVehicle = {
                      id: null,
                      name: line[headerMap.name],
                      type: keysToType[line[headerMap.type]] || '',
                      engine: keysToEngine[line[headerMap.engine]] || '',
                      consumption: {
                        id: null,
                        january: 0,
                        february: 0,
                        march: 0,
                        april: 0,
                        may: 0,
                        june: 0,
                        july: 0,
                        august: 0,
                        septembre: 0,
                        octobre: 0,
                        novembre: 0,
                        decembre: 0,
                        total: parseInt(line[headerMap.distance]) || 0,
                        isMonthly: false
                      },
                      unit: 'km',
                      power: 0,
                      noEngine: 1,
                      shp: 0,
                      controled: true,
                      source: self.dropFile.name
                    }
                    // Force engine value for moto and scooter
                    if (newVehicle.type === 'moto') { newVehicle.engine = 'gasoline' }
                    if (newVehicle.type === 'scooter') { newVehicle.engine = 'electric' }
                    // if vehicle is in database already, retrieve id to avoid duplicate
                    let vehicleIsInDB = allVehiclesInDB.filter(obj => obj.name === newVehicle.name)
                    if (vehicleIsInDB.length) {
                      newVehicle.id = vehicleIsInDB[0].id
                    }
                    let allVehicleNames = self.vehicles.map(obj => obj.name)
                    if (allVehicleNames.includes(newVehicle.name)) {
                      let msg = ' <strong>' + newVehicle.name + '</strong> : ' + self.$t('message-13')
                      self.$buefy.dialog.alert({
                        title: self.$t('message-12'),
                        message: msg
                      })
                    } else {
                      self.$store.dispatch('ghgi/addItem', {
                        module: 'vehicles',
                        item: newVehicle
                      })
                    }
                  }
                  self.allFiles.push({
                    'filename': self.dropFile.name
                  })
                  self.currentFile = self.dropFile.name
                } else if (error === 'bad separator') {
                  self.$buefy.dialog.alert({
                    title: self.$t('message-1'),
                    message: self.$t('message-2')
                  })
                  self.dropFile = null
                } else if (error === 'missing columns') {
                  self.$buefy.dialog.alert({
                    title: self.$t('message-3'),
                    message: self.$t('message-4')
                  })
                  self.dropFile = null
                }
              })
          } catch (error) {
            self.$buefy.dialog.alert({
              title: self.$t('message-3'),
              message: self.$t('message-4')
            })
          }
        } else {
          this.$buefy.dialog.alert({
            title: this.$t('message-5'),
            message: this.$t('message-6')
          })
        }
      }
    }
  },
  methods: {
    validate: function () {
      let self = this
      if (this.$store.getters['ghgi/invalidItems'](Modules.VEHICLES).length !== 0) {
        this.$buefy.dialog.confirm({
          title: self.$t('title-2'),
          message: self.$t('info-5'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          canCancel: ['escape', 'button', 'outside'],
          onConfirm: function () {
            self.$store.dispatch('ghgi/deleteInvalidItems', Modules.VEHICLES)
            self.subValidate()
          },
          onCancel: function () {
            self.subValidate()
          }
        })
      } else {
        this.subValidate()
      }
    },

    subValidate: function () {
      if (this.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.$store.dispatch('ghgi/saveItems', Modules.VEHICLES)
          .then(data => {
            loadingComponent.close()
            this.$emit('is-valid', this.vehicles.length > 0)
            this.$emit('is-modified', false)
            this.error = ''
            this.allFiles = [
              {
                'filename': this.$t('label-2')
              }
            ]
            this.currentFile = this.allFiles[0].filename
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg')
            })
          })
          .catch((error) => {
            loadingComponent.close()
            this.$emit('is-valid', false)
            this.error = error.response.data
          })
      } else {
        this.$emit('is-valid', this.vehicles.length > 0)
        this.$emit('is-modified', false)
      }
    },
    displayAddForm: function () {
      this.modeCreation = true
      this.vehicle = new Vehicle(
        null,
        DEFAULT_TYPE,
        '',
        DEFAULT_ENGINE,
        {
          id: null,
          january: 0,
          february: 0,
          march: 0,
          april: 0,
          may: 0,
          june: 0,
          july: 0,
          august: 0,
          septembre: 0,
          octobre: 0,
          novembre: 0,
          decembre: 0,
          total: 0,
          isMonthly: true
        },
        DEFAULT_UNIT,
        0,
        DEFAULT_NOENGINE,
        0,
        true
      )
      this.displayModal = true
    },
    closeModal: function () {
      this.displayModal = false
      this.vehicle = null
    },
    add: function (vehicle) {
      this.$store.dispatch('ghgi/addItem', {
        module: 'vehicles',
        item: vehicle
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    update: function (obj) {
      this.$store.dispatch('ghgi/updateItem', {
        module: 'vehicles',
        item: obj
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    edit: function (vehicle) {
      this.modeCreation = false
      this.vehicle = vehicle
      this.displayModal = true
    },
    del: function () {
      let self = this
      let msg = this.$t('message-8') + ' <strong>' + this.currentFile + '</strong> ?'
      let source = this.currentFile
      if (this.currentFile === this.allFiles[0].filename) {
        msg = this.$t('message-9')
        source = null
      }
      this.$buefy.dialog.confirm({
        title: self.$t('message-7'),
        message: msg,
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.$store.dispatch('ghgi/deleteSource', {
            module: 'vehicles',
            source: source
          })
          self.$emit('is-modified', true)
          if (source) {
            let index = self.allFiles.findIndex(obj => obj.filename === source)
            self.allFiles.splice(index, 1)
          } else {
            self.allFiles = [
              {
                'filename': self.$t('label-2')
              }
            ]
          }
          self.currentFile = self.$t('label-2')
          self.dropFile = null
        }
      })
    }
  }
}
</script>

<style>
.table td {
  vertical-align: middle !important;
}
</style>
