<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="box-blue">
          L'ensemble des initiatives répertoriées sur cette page ont des objectifs en lien avec
          la réduction de l’empreinte environnementale de la recherche.
        </div>
        <br />
        <div class="columns">
          <div class="column">
            <div v-bind:style="{ height: '535px', border:'1px solid rgba(0, 0, 0, 0.54)'}">
              <l-map :zoom="zoom" :center="center" style="z-index: 0;">
                  <l-tilelayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></l-tilelayer>
                  <v-marker-cluster>
                    <template v-for="(initiative,index) in initiatives">
                      <l-marker
                        v-on:click="displayInitiative(initiative)"
                        :key="index"
                        :lat-lng="{ lng: initiative.laboratory.longitude, lat: initiative.laboratory.latitude }"
                        :icon="initiative.icon">
                      </l-marker>
                    </template>
                  </v-marker-cluster>
              </l-map>
            </div>
          </div>
          <div class="column">
            <resume-initiatives
              :initiatives="initiatives"
              v-on:filterChanged="changeFilter"
            />
          </div>
        </div>
        <vue-initiative v-if="initiatives.length >= 1" :initiative="cinitiative"/>
      </div>
    </div>
  </section>
</template>

<script>
import '@/plugins/leaflet.js'

export default {
  name: 'LesInitiatives',
  components: {
    'l-map': () => import('vue2-leaflet').then(({ LMap }) => LMap),
    'l-tilelayer': () => import('vue2-leaflet').then(({ LTileLayer }) => LTileLayer),
    'l-marker': () => import('vue2-leaflet').then(({ LMarker }) => LMarker),
    'v-marker-cluster': () => import('vue2-leaflet-markercluster'),
    'resume-initiatives': () => import('@/components/transition/ResumeInitiatives.vue'),
    'vue-initiative': () => import('@/components/transition/VueInitiative.vue')
  },
  data: function () {
    return {
      zoom: 5,
      center: [46.75, 2.32],
      cinitiative: {},
      filters: []
    }
  },
  computed: {
    initiatives: function () {
      let allInitiatives = this.$store.getters['transition/initiatives']
      let filteredInitiatives = []
      if (this.filters.length > 0) {
        for (let initiative of allInitiatives) {
          let isOK = true
          for (let filter of this.filters) {
            if (filter === 'Activités de recherche' && initiative.actrecherche_description === '') {
              isOK = false
            } else if (filter === 'Groupe de réflexion' && initiative.groupe_description === '') {
              isOK = false
            } else if (filter === 'Déplacements professionnels' && initiative.deplacementspro_description === '') {
              isOK = false
            } else if (filter === 'Déplacements domicile-travail' && initiative.deplacementsdt_description === '') {
              isOK = false
            } else if (filter === 'Bâtiments' && initiative.batiments_description === '') {
              isOK = false
            } else if (filter === 'Engagements' && initiative.engagements === '') {
              isOK = false
            } else if (filter === 'Numérique' && initiative.numerique_description === '') {
              isOK = false
            } else if (filter === 'Actions éco-responsables' && initiative.ecoresponsable === '') {
              isOK = false
            } else if (filter === 'Initiatives à portée sociale' && initiative.sociale === '') {
              isOK = false
            } else if (filter === 'Enquêtes' && initiative.enquetes === '') {
              isOK = false
            } else if (filter === 'Communication' && initiative.communication === '') {
              isOK = false
            } else if (filter === 'Autres' && initiative.autres_initiatives === '') {
              isOK = false
            } else if (filter === 'isInstitutionnelle' && !initiative.initiative_institutionnelle) {
              isOK = false
            } else if (filter === 'hasBGESenCourt' && initiative.BGESext !== 1) {
              isOK = false
            } else if (filter === 'hasBGESdone' && initiative.BGESext !== 2) {
              isOK = false
            }
          }
          if (isOK) {
            filteredInitiatives.push(initiative)
          }
        }
      } else {
        filteredInitiatives = allInitiatives
      }
      return filteredInitiatives
    }
  },
  methods: {
    displayInitiative (initiative) {
      this.cinitiative = initiative
    },
    changeFilter (filters) {
      if (filters === 'isInstitutionnelle') {
        this.filters.push(filters)
      } else if (filters === 'isNotInstitutionnelle') {
        this.filters = this.filters.filter(filter => filter !== 'isInstitutionnelle')
      } else if (filters === 'hasBGESenCourt') {
        this.filters.push(filters)
      } else if (filters === 'hasNotBGESenCourt') {
        this.filters = this.filters.filter(filter => filter !== 'hasBGESenCourt')
      } else if (filters === 'hasBGESdone') {
        this.filters.push(filters)
      } else if (filters === 'hasNotBGESdone') {
        this.filters = this.filters.filter(filter => filter !== 'hasBGESdone')
      } else {
        this.filters = this.filters.filter(filter => filter === 'isInstitutionnelle' || filter === 'hasBGESenCourt' || filter === 'hasBGESdone')
        this.filters = this.filters.concat(filters)
      }
      this.filters = Array.from(new Set(this.filters))
    }
  },
  created () {
    this.$store.dispatch('transition/getInitiatives').then(response => {
      if (this.initiatives.length > 0) {
        let iindex = Math.floor(Math.random() * Math.floor(this.initiatives.length))
        this.cinitiative = this.initiatives[iindex]
      }
    })
  }
}
</script>

<style>
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
</style>
