<i18n>
{
  "fr": {
    "label-1": "La documentation",
    "label-8": "Aide",
    "label-9": "Notes",
    "label-10": "Mode d'emploi",
    "label-11": "Les données",
    "label-14": "L'équipe <em>Scénario 1point5</em>",
    "label-15": "L'équipe de développement",
    "label-16": "Remerciements",
    "label-17": "Les données",
    "label-20": "Editeur de scénario",
    "label-32": "Scénario",
    "label-33": "Webinaires"
  },
  "en": {
    "label-1": "Documentation",
    "label-8": "Help",
    "label-9": "Notes",
    "label-10": "User guide",
    "label-11": "Datasets",
    "label-14": "The team <em>Scenario 1point5</em>",
    "label-15": "The development team",
    "label-16": "Acknowledgments",
    "label-17": "Data",
    "label-20": "Scenario builder",
    "label-32": "Scenario",
    "label-33": "Webinars"
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <b-menu>
              <b-menu-list :label="$t('label-1')">
                <b-menu-item
                  :active="activeModule==='notes'||activeModule==='scenario-data'||activeModule==='manual'||activeModule==='webinar'"
                  :expanded="activeModule==='notes'||activeModule==='scenario-data'||activeModule==='manual'||activeModule==='webinar'"
                  @click="activate('notes')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="life-ring"></b-icon>
                    {{ $t('label-8') }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='notes'"
                    @click="activate('notes')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="warning"></b-icon>
                            {{ $t('label-9') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='scenario-data'"
                    @click="activate('scenario-data')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="table"></b-icon>
                            {{ $t('label-11') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='manual'"
                    @click="activate('manual')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="book"></b-icon>
                            {{ $t('label-10') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='webinar'"
                    @click="activate('webinar')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="play-circle-o"></b-icon>
                            {{ $t('label-33') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='team'||activeModule==='thanks'"
                  :expanded="activeModule==='team'||activeModule==='thanks'"
                  @click="activate('team')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="users"></b-icon>
                    <span v-html="$t('label-14')" />
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                   <b-menu-item
                    :active="activeModule==='team'"
                    @click="activate('team')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="keyboard-o"></b-icon>
                            {{ $t('label-15') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='thanks'"
                    @click="activate('thanks')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="thumbs-o-up"></b-icon>
                            {{ $t('label-16') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list :label="$t('label-17')">
                <b-menu-item
                  @click="activate('scenario-editor')"
                  :active="activeModule==='scenario-editor'"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="crosshairs"></b-icon>
                          {{ $t('label-20') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <notes v-if="activeModule==='notes'"/>
            <scenario-data v-if="activeModule==='scenario-data'"/>
            <manual v-if="activeModule==='manual'"/>
            <webinar :header="true" v-if="activeModule==='webinar'"/>
            <team v-if="activeModule==='team'"/>
            <thanks v-if="activeModule==='thanks'"/>
            <scenario-editor
              v-if="activeModule==='scenario-editor' && loaded"
              :editable="false"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Scenario1point5Results',
  data () {
    return {
      loaded: false,
      activeModule: 'scenario-editor'
    }
  },
  components: {
    'notes': () => import('@/components/scenario/docs/Notes.vue'),
    'scenario-data': () => import('@/components/scenario/docs/ScenarioData.vue'),
    'manual': () => import('@/components/scenario/docs/Manual.vue'),
    'webinar': () => import('@/components/scenario/docs/Webinar.vue'),
    'team': () => import('@/components/scenario/docs/Team.vue'),
    'thanks': () => import('@/components/scenario/docs/Thanks.vue'),
    'scenario-editor': () => import('@/components/scenario/ScenarioEditor.vue')
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    uuid: function () {
      return this.$route.params.uuid
    },
    scenario: function () {
      return this.$store.getters['scenario/item']
    }
  },
  methods: {
    activate: function (module) {
      this.activeModule = module
    }
  },
  mounted () {
    const loadingComponent = this.$buefy.loading.open({
      container: null
    })
    this.$store.dispatch('scenario/setFromUUID', this.uuid)
      .then(data => {
        this.loaded = true
        loadingComponent.close()
      })
      .catch((erreur) => {
        loadingComponent.close()
      })
  }
}
</script>
