<i18n>
{
  "fr": {
    "tab-1": "Tableau de synthèse (kg eCO2)",
    "title-1": "Soumission des données",
    "title-2": "Soumission impossible",
    "label-1": "Part de l'empreinte totale",
    "label-2": "Empreinte carbone du laboratoire",
    "label-3": "Empreinte carbone <em>per capita</em>",
    "label-4": "Intensité carbone",
    "label-5": "Soumis",
    "tooltip-1": "Les enseignants-chercheurs ont une quotité d’appartenance au labo de 50% ; cela signifie que les émissions qu’ils /elles génèrent par leurs consommations d’énergie liées au chauffage de leur bureau et à l’électricité ne sont imputées au labo qu’à hauteur de 50%, que ces personnes passent 100% du temps dans leur bureau du labo, ou aient un autre bureau ailleurs). Les autres personnes du labo ont une quotité d’appartenance au labo de 100%.",
    "tooltip-2": "La quotité totale du laboratoire est de",
    "tooltip-3": "personnes",
    "tooltip-4": "L'intensité carbone correspond aux émissions par euro de budget dépensé.",
    "post-1": "Empreinte carbone des bâtiments",
    "post-2": "Empreinte carbone du matériel informatique",
    "post-3": "Empreinte carbone des déplacements",
    "post-4": "Déplacements domicile-travail",
    "post-5": "Déplacements professionnels",
    "post-6": "Les véhicules",
    "post-7": "Les missions",
    "post-8": "Empreinte carbone totale",
    "post-9": "Empreinte carbone des achats",
    "error-1": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Déplacements domicile / travail »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Vous pouvez réaliser l'enquête domicile / travail en suivant les instructions dans l'onglet correspondant à ce module.",
    "error-2": "Veuillez désactiver l'enquête domicile / travail de ce BGES avant de le soumettre.",
    "error-3": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Les missions »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Veuillez demander à votre gestionnaire un export des missions afin de les importer dans l'outil.",
    "error-4": "Des <strong>données d'éléctricité et/ou de chauffage sont manquantes</strong> pour le <strong>module « Les bâtiments »</strong>. Celles-ci sont <strong>requises</strong> pour la soumission.",
    "error-5": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Achats »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Veuillez demander à votre gestionnaire un export des achats afin de les importer dans l'outil.",
    "emission.tco2e": "Emission (t eCO2)",
    "distances.km": "Distances (km)",
    "volumes.day": "Volume (personnes.jour)",
    "cummulated-emission": "Emissions cumulées (%)",
    "modes.emissions": "Modes (t eCO2)",
    "modes.distances": "Modes (km)",
    "purposes.emissions": "Motifs (t eCO2)",
    "purposes.distances": "Motifs (km)",
    "plane-emission": "Emissions de l'aviation",
    "transportation.emissions": "Modes de déplacement",
    "commuting.modes": "Modes de déplacement",
    "carpooling": "Covoiturage"
  },
  "en": {
    "tab-1": "Overview table (kg CO2e)",
    "title-1": "Data submission",
    "title-2": "Data submission not possible",
    "label-1": "Share of the total footprint",
    "label-2": "Carbon footprint of the laboratory",
    "label-3": "Carbon footprint <em>per capita</em>",
    "label-4": "Carbon intensity",
    "label-5": "Submitted",
    "tooltip-1": "The teaching staff (lecturers, professors) have a  membership ratio of 50%; this means that the emissions they generate through their energy consumption related to office heating and electricity are only attributed to the lab at 50%, whether they spend 100% of their time in their lab office or have another office elsewhere. The other people in the lab have a lab share of 100%.",
    "tooltip-2": "The total member-equivalent count of the laboratory is",
    "tooltip-3": "members",
    "tooltip-4": "The carbon intensity is the ratio of emissions generated by one euro of budget expenditures.",
    "post-1": "Carbon footprint of buildings",
    "post-2": "Carbon footprint of digital devices",
    "post-3": "Carbon footprint of travels",
    "post-4": "Commuting",
    "post-5": "Professional travel",
    "post-6": "Vehicles",
    "post-7": "Business travel",
    "post-8": "Total carbon footprint",
    "post-9": "Carbon footprint of purchases",
    "error-1": "<strong>No data available</strong> for the <strong>« Commuting » module</strong>. This module is <strong>required</strong> for data submission. <br /> You can carry out the commuting survey by following the instructions in the tab corresponding to this module.",
    "error-2": "Please deactivate the commuting survey of this GHG inventory before submitting the inventory",
    "error-3": "<strong>No data available</strong> for the <strong>« Travel » module</strong>. This module is <strong>required</strong> for data submission. <br /> Please ask your accounting department for an export of the trips in order to import them into the tool.",
    "error-4": "Some <strong> electricity and/or heating data are missing</strong> for the <strong>« Building » module</strong>. These ones are <strong>required</strong> for data submission.",
    "error-5": "<strong>No data available</strong> for the <strong>« Purchase » module</strong>. This module is <strong>required</strong> for data submission. <br /> Please ask your accounting department for an export of the purchases in order to import them into the tool.",
    "emission.tco2e": "Emission (t CO2e)",
    "distances.km": "Distances (km)",
    "volumes.day": "Volume (person.day)",
    "cummulated-emission": "Cumulative emissions (%)",
    "modes.emissions": "Modes (t CO2e)",
    "modes.distances": "Modes (km)",
    "purposes.emissions": "Purposes (t CO2e)",
    "purposes.distances": "Purposes (km)",
    "plane-emission": "Plane emissions",
    "transportation.emissions": "Travel modes",
    "commuting.modes": "Commuting modes",
    "carpooling": "Carpooling"
  }
}
</i18n>

<template>
  <div>
    <b-modal
      :can-cancel="['escape', 'x', 'outside']"
      :active.sync="displayModal"
      has-modal-card
    >
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('title-1') }}
          </p>
        </header>
        <section class="modal-card-body">
          <data-submission
            @data-submitted="displayModal=false"
            :module="currentModule"
          />
        </section>
      </div>
    </b-modal>
    <!-- <ef-update-warning v-if="ghgi.year===2022" /> -->
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-distance">
                {{ $t('label-2') }}
              </p>
              <div class="title is-size-4 has-text-distance">
                <p>
                  {{ syntheseData.total.intensity.getIntensity(withContrails) | splitNumberTons }} &plusmn; {{ syntheseData.total.intensity.getUncertainty(withContrails) | splitNumberTons }}
                  <span class="is-size-6">{{ $t('t.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-carbone">
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-top"
                  dashed type="is-black"
                >
                  <span v-html="$t('label-3')" />
                  <template v-slot:content>
                    {{ $t('tooltip-1') }}
                    <br />
                    {{ $t('tooltip-2') }} <strong>{{ totalPerCapita }} {{ $t('tooltip-3') }}</strong>.
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-carbone">
                <p>
                  {{ getIntensityPerCapita() | splitNumber }} &plusmn; {{ getUncertaintyPerCapita() | splitNumber }}
                  <span class="is-size-6">{{ $t('kg.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-carbone2">
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-top"
                  dashed type="is-black"
                >
                  {{ $t('label-4') }}
                  <template v-slot:content>
                    {{ $t('tooltip-4') }}
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-carbone2">
                <p>
                  {{ (syntheseData.total.intensity.getIntensity(withContrails) / budget) * 1000 | splitNumber }} &plusmn; {{ (syntheseData.total.intensity.getUncertainty(withContrails) / budget) * 1000 | splitNumber }}
                  <span class="is-size-6">{{ $t('g.co2e') }} / €</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
    </div>
    <contrails-switch
      :withContrails.sync="withContrails"
    />
    <br />
    <div class="b-table">
      <div class="table-wrapper">
        <table class="table is-striped is-hoverable has-mobile-cards">
          <thead>
            <tr>
              <th v-if="!isPublic && isAuthenticated">
                <div class="th-wrap">
                  {{ $t('label-5') }}
                </div>
              </th>
              <th>
                <div class="th-wrap">
                  {{ $t('carbon.footprint') }}
                </div>
              </th>
              <th>
                <div class="th-wrap is-numeric">
                  {{ $t('emissions.t.co2e') }}
                </div>
              </th>
              <th>
                <div class="th-wrap is-numeric">
                  {{ $t('label-1') }}
                </div>
              </th>
              <th>
                <div class="th-wrap is-centered pl-0 pr-0"></div>
              </th>
              <th v-if="!isPublic && isAuthenticated">
                <div class="th-wrap is-centered pl-0 pr-0"></div>
              </th>
              <th v-if="!isPublic && isAuthenticated">
                <div class="th-wrap is-centered pl-0 pr-0"></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr draggable="false" v-for="(module,index) in Object.keys(syntheseData)" :key="index">
              <td v-if="!isPublic && isAuthenticated" class="has-text-centered">
                <b-icon
                  v-if="syntheseData[module].submitted"
                  icon="check"
                  size="is-small"
                  type="is-success"
                />
                <b-icon
                  v-else
                  icon="times"
                  size="is-small"
                  type="is-danger"
                />
              </td>
              <td>
                <strong v-if="syntheseData[module]['_level'] === 1">
                  {{ syntheseData[module]['name'] }}
                  <purchases-warning v-if="module==='purchases'" ref="purchasesWarning" :isTag="true" />
                </strong>
                <span style=" margin-left: 20px;" v-else-if="syntheseData[module]['_level'] === 2">|-- {{ syntheseData[module]['name'] }}</span>
                <span style=" margin-left: 40px;" v-else-if="syntheseData[module]['_level'] === 3">|-- {{ syntheseData[module]['name'] }}</span>
              </td>
              <td class="has-text-right">
                <strong v-if="syntheseData[module]['_level'] === 1">{{ Math.round(syntheseData[module].intensity.getIntensity(withContrails)) | splitNumberTons }} &plusmn; {{ Math.round(syntheseData[module].intensity.getUncertainty(withContrails)) | splitNumberTons }}</strong>
                <span v-else>{{ Math.round(syntheseData[module].intensity.getIntensity(withContrails)) | splitNumberTons }} &plusmn; {{ Math.round(syntheseData[module].intensity.getUncertainty(withContrails)) | splitNumberTons }}</span>
              </td>
              <td class="has-text-right">
                <strong v-if="syntheseData[module]['_level'] === 1">{{ Math.round(syntheseData[module].intensity.getIntensity(withContrails) / syntheseData.total.intensity.getIntensity(withContrails) * 10000 / 100) }} %</strong>
                <span v-else>{{ Math.round(syntheseData[module].intensity.getIntensity(withContrails) / syntheseData.total.intensity.getIntensity(withContrails) * 10000 / 100) }} %</span>
              </td>
              <td class="has-text-centered pl-0 pr-0" >
                <b-tooltip
                  v-if="syntheseData[module]._graphics.length > 0"
                  :label="$t('display')"
                  type="is-black"
                >
                  <b-button
                    size="is-small"
                    :disabled="isDisabled(module)"
                    icon-right="bar-chart"
                    @click="plots(module)"
                  />
                </b-tooltip>
              </td>
              <td v-if="!isPublic && isAuthenticated" class="has-text-centered pl-0 pr-0">
                <b-tooltip
                  v-if="syntheseData[module]['_export']"
                  :label="$t('download')"
                  type="is-black"
                >
                  <b-button
                    size="is-small"
                    :disabled="isDisabled(module)"
                    icon-right="download"
                    @click="csvExport(module)"
                  />
                </b-tooltip>
              </td>
              <td v-if="!isPublic && isAuthenticated" class="has-text-centered pl-0 pr-0">
                <b-tooltip
                  v-if="syntheseData[module]['_submit']"
                  :label="$t('submit')"
                  type="is-black"
                >
                  <b-button
                    size="is-small"
                    :disabled="syntheseData[module].submitted"
                    icon-left="paper-plane"
                    type="is-primary"
                    @click="submitData(module)"
                  />
                </b-tooltip>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal
      :active.sync="displayGraphics"
      has-modal-card
      :width="1100"
    >
      <div class="modal-card" style="width: 1100px;">
        <section class="modal-card-body">
          <b-tabs
            v-if="module && syntheseData[module]._graphics.length > 1"
          >
            <b-tab-item
              v-for="(graphic,index) in syntheseData[module]._graphics.filter(obj => obj.enabled)"
              :key="index"
              :label="$t(graphic.label)"
            >
              <component
                :is="graphic.component"
                :ghgi="ghgi"
                :withContrails="withContrails"
              />
            </b-tab-item>
          </b-tabs>
          <component
            v-else-if="module && syntheseData[module]._graphics.length === 1"
            :is="syntheseData[module]._graphics[0].component"
            :ghgi="ghgi"
            :withContrails="withContrails"
          />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import { commute } from '@/mixins/commute'
import { createExportFile } from '@/utils/files'
import { CarbonIntensity, CarbonIntensities } from '@/models/carbon/CarbonIntensity.js'
import '@/plugins/highcharts.js'
import { mapGetters } from 'vuex'
import Modules from '@/models/Modules.js'
import Travel from '@/models/carbon/Travel.js'

export default {
  name: 'CarbonFootprintSynthesis',
  mixins: [commute],
  components: {
    'purchases-warning': () => import('@/components/carbon/forms/purchases/Warning.vue'),
    // 'ef-update-warning': () => import('@/components/carbon/results/EFUpdateWarning.vue'),
    'data-submission': () => import('@/components/carbon/results/DataSubmission.vue'),
    'contrails-switch': () => import('@/components/ContrailsSwitch.vue')
  },
  props: {
    isPublic: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      displayGraphics: false,
      module: 'total',
      displayModal: false,
      currentModule: null,
      emissionsPerCapita: 0,
      emissionsiPerCapita: 0,
      withContrails: true
    }
  },
  computed: {
    ...mapGetters('authentication', ['isAuthenticated']),
    budget () {
      return this.$store.getters['ghgi/item']['budget']
    },
    ghgi: function () {
      return this.$store.getters['ghgi/item']
    },
    travels: function () {
      return this.$store.getters['ghgi/items'](Modules.TRAVELS)
    },
    totalPerCapita () {
      return Number(this.$store.getters['ghgi/item']['nResearcher']) +
             Number(this.$store.getters['ghgi/item']['nProfessor']) / 2 +
             Number(this.$store.getters['ghgi/item']['nEngineer']) +
             Number(this.$store.getters['ghgi/item']['nStudent'])
    },
    nMember () {
      return Number(this.$store.getters['ghgi/nMember'])
    },
    /**
     * Build a datastructure to handle all the counts/graphs in the UI
     *
     */
    syntheseData () {
      return {
        buildings: {
          'name': this.$t('post-1'),
          'submitted': this.$store.getters['ghgi/item']['buildingsSubmitted'],
          'intensity': new CarbonIntensities(),
          '_level': 1,
          '_graphics': [
            {
              'label': '',
              'component': 'EnergyPerformance',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true
        },
        heatings: {
          'name': this.$t('heatings'),
          'submitted': this.$store.getters['ghgi/item']['buildingsSubmitted'],
          'intensity': new CarbonIntensity(),
          '_level': 2,
          '_graphics': [],
          '_submit': false,
          '_export': false
        },
        electricity: {
          'name': this.$t('electricity'),
          'submitted': this.$store.getters['ghgi/item']['buildingsSubmitted'],
          'intensity': new CarbonIntensity(),
          '_level': 2,
          '_graphics': [],
          '_submit': false,
          '_export': false
        },
        refrigerants: {
          'name': this.$t('refrigerants'),
          'submitted': this.$store.getters['ghgi/item']['buildingsSubmitted'],
          'intensity': new CarbonIntensity(),
          '_level': 2,
          '_graphics': [],
          '_submit': false,
          '_export': false
        },
        devices: {
          'name': this.$t('post-2'),
          'submitted': this.$store.getters['ghgi/item']['devicesSubmitted'],
          'intensity': new CarbonIntensity(),
          '_level': 1,
          '_graphics': [
            {
              'label': '',
              'component': 'DevicesPie',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true
        },
        purchases: {
          'name': this.$t('post-9'),
          'submitted': this.$store.getters['ghgi/item']['purchasesSubmitted'],
          'intensity': new CarbonIntensity(),
          '_level': 1,
          '_graphics': [
            {
              'label': '',
              'component': 'PurchasesPie',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true
        },
        alltravels: {
          'name': this.$t('post-3'),
          'submitted': this.$store.getters['ghgi/item']['travelsSubmitted'] && this.$store.getters['ghgi/item']['vehiclesSubmitted'] && this.$store.getters['ghgi/item']['commutesSubmitted'],
          'intensity': new CarbonIntensities(),
          '_level': 1,
          '_graphics': [],
          '_submit': false,
          '_export': false
        },
        commutes: {
          'name': this.$t('post-4'),
          'submitted': this.$store.getters['ghgi/item']['commutesSubmitted'],
          'intensity': new CarbonIntensity(),
          '_level': 2,
          '_graphics': [
            {
              'label': this.$t('emission.tco2e'),
              'component': 'CommutesEmissionsBar',
              'enabled': true
            },
            {
              'label': this.$t('distances.km'),
              'component': 'CommutesDistancesBar',
              'enabled': true
            },
            {
              'label': this.$t('volumes.day'),
              'component': 'CommutesVolumesBar',
              'enabled': true
            },
            {
              'label': this.$t('commuting.modes'),
              'component': 'CommutesDistancesModes',
              'enabled': true
            },
            {
              'label': this.$t('carpooling'),
              'component': 'CommutesDistancesCarpooling',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true
        },
        proTravels: {
          'name': this.$t('post-5'),
          'submitted': this.$store.getters['ghgi/item']['travelsSubmitted'] && this.$store.getters['ghgi/item']['vehiclesSubmitted'],
          'intensity': new CarbonIntensities(),
          '_level': 2,
          '_graphics': [
            {
              'label': this.$t('emission.tco2e'),
              'component': 'TravelsAndVehiclesEmissionsBar',
              'enabled': true
            },
            {
              'label': this.$t('distances.km'),
              'component': 'TravelsAndVehiclesDistancesBar',
              'enabled': true
            }
          ],
          '_submit': false,
          '_export': false
        },
        vehicles: {
          'name': this.$t('post-6'),
          'submitted': this.$store.getters['ghgi/item']['vehiclesSubmitted'],
          'intensity': new CarbonIntensity(),
          '_level': 3,
          '_graphics': [
            {
              'label': '',
              'component': 'VehiclesPie',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true
        },
        travels: {
          'name': this.$t('post-7'),
          'submitted': this.$store.getters['ghgi/item']['travelsSubmitted'],
          'intensity': new CarbonIntensity(),
          '_level': 3,
          '_graphics': [
            {
              'label': this.$t('modes.emissions'),
              'component': 'TravelsModesEmissionsBar',
              'enabled': this.hasStatusOption
            },
            {
              'label': this.$t('modes.distances'),
              'component': 'TravelsModesDistancesBar',
              'enabled': this.hasStatusOption
            },
            {
              'label': this.$t('purposes.emissions'),
              'component': 'TravelsPurposesEmissionsBar',
              'enabled': !this.hasStatusOption && this.hasPurposeOption
            },
            {
              'label': this.$t('purposes.distances'),
              'component': 'TravelsPurposesDistancesBar',
              'enabled': !this.hasStatusOption && this.hasPurposeOption
            },
            {
              'label': this.$t('purposes.emissions'),
              'component': 'TravelsModesPurposesEmissionsBar',
              'enabled': this.hasStatusOption && this.hasPurposeOption
            },
            {
              'label': this.$t('purposes.distances'),
              'component': 'TravelsModesPurposesDistancesBar',
              'enabled': this.hasStatusOption && this.hasPurposeOption
            },
            {
              'label': this.$t('plane-emission'),
              'component': 'PlanesCumulativeEmissions',
              'enabled': true
            },
            {
              'label': this.$t('transportation.emissions'),
              'component': 'TransportationGraphs.vue',
              'enabled': true
            },

            {
              'label': this.$t('cummulated-emission'),
              'component': 'TravelsCumulativeEmissions',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true
        },
        total: {
          'name': this.$t('post-8'),
          'submitted': this.$store.getters['ghgi/item']['travelsSubmitted'] && this.$store.getters['ghgi/item']['vehiclesSubmitted'] && this.$store.getters['ghgi/item']['commutesSubmitted'] && this.$store.getters['ghgi/item']['buildingsSubmitted'] && this.$store.getters['ghgi/item']['devicesSubmitted'] && this.$store.getters['ghgi/item']['purchasesSubmitted'],
          'intensity': new CarbonIntensities(),
          '_level': 1,
          '_graphics': [
            {
              'label': this.$t('emission.tco2e'),
              'component': 'GHGIPie',
              'enabled': true
            },
            {
              'label': this.$t('emission.tco2e'),
              'component': 'GHGIBar',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true
        }
      }
    },
    hasPurposeOption: function () {
      return Travel.hasPurposeOption(this.travels)
    },
    hasStatusOption: function () {
      return Travel.hasStatusOption(this.travels)
    },
    commutesIsOK: function () {
      return this.$store.getters['ghgi/hasItems'](Modules.COMMUTES)
    },
    surveyActive: function () {
      return this.$store.getters['ghgi/item']['surveyActive']
    },
    travelsIsOK: function () {
      return this.$store.getters['ghgi/hasItems'](Modules.TRAVELS)
    },
    purchasesIsOK: function () {
      return this.$store.getters['ghgi/hasItems'](Modules.PURCHASES)
    },
    buildingsIsOK: function () {
      let buildings = this.$store.getters['ghgi/items'](Modules.BUILDINGS)
      let bwe = buildings.filter(obj => {
        let heatingOK = true
        for (let heating of obj.heatings) {
          if (heating.type !== 'electric') {
            heatingOK = obj.getHeatingConsumption(heating) > 0
          }
        }
        return obj.getElectricityConsumption() > 0 && heatingOK
      })
      if (buildings.length > 0) {
        return buildings.length === bwe.length
      } else {
        return false
      }
    }
  },
  methods: {
    getIntensityPerCapita: function (withContrails) {
      let intensity = this.syntheseData.total.intensity.getIntensity(this.withContrails)
      intensity -= this.syntheseData.buildings.intensity.getIntensity(withContrails)
      intensity = intensity / this.nMember
      intensity += this.syntheseData.buildings.intensity.getIntensity(this.withContrails) / this.totalPerCapita
      return intensity
    },
    getUncertaintyPerCapita: function () {
      let uncertainty = this.syntheseData.total.intensity.getUncertainty(this.withContrails)
      uncertainty -= this.syntheseData.buildings.intensity.getUncertainty(this.withContrails)
      uncertainty = uncertainty / this.nMember
      uncertainty += this.syntheseData.buildings.intensity.getUncertainty(this.withContrails) / this.totalPerCapita
      return uncertainty
    },
    plots: function (module) {
      // first load all components
      for (let graphic of this.syntheseData[module]._graphics) {
        if (graphic.enabled) {
          Vue.component(
            graphic.component,
            () => import('@/components/graphics/' + graphic.component)
          )
        }
      }
      this.displayGraphics = true
      this.module = module
    },
    exportGlobal () {
      let self = this
      let csvContent = [
        Object.keys(self.syntheseData.buildings).filter(column => !column.startsWith('_')).join('\t'),
        ...Object.keys(self.syntheseData).map(function (key) {
          let toReturn = ''
          for (let colName of Object.keys(self.syntheseData[key]).filter(column => !column.startsWith('_'))) {
            if (colName === 'intensity') {
              toReturn += Math.round(self.syntheseData[key][colName].intensity) + '\t'
              toReturn += Math.round(self.syntheseData[key][colName].uncertainty) + '\t'
            } else {
              toReturn += self.syntheseData[key][colName] + '\t'
            }
          }
          return (toReturn)
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      createExportFile(csvContent, 'ghgi' + this.ghgi.year + '_total')
    },
    exportTravels () {
      let emissions = this.ghgi.emissions.travels
      let csvContent = [
        ['name', 'type', 'mode', 'amount', 'position', 'no.person', 'purpose', 'round.trip',
          'geodesic.distance.km', 'corrected.distance.km', 'distance.km', 'emission.kg.co2e', 'uncertainty.kg.co2e',
          'emission.withcontrails.kg.co2e', 'uncertainty.withcontrails.kg.co2e', 'total.distance.km',
          'total.emission.kg.co2e', 'total.uncertainty.kg.co2e', 'total.emission.withcontrails.kg.co2e',
          'total.uncertainty.withcontrails.kg.co2e'].join('\t'),
        ...emissions.meta.map(function (item) {
          let toReturn = item.names.join(',') + '\t' + item.type + '\t' + item.transportation + '\t'
          toReturn += item.amount + '\t' + item.status + '\t'
          toReturn += item.carpooling + '\t' + item.purpose + '\t'
          toReturn += item.isRoundTrip + '\t' + Math.round(item.geodesicDistance) + '\t'
          toReturn += Math.round(item.correctedDistance) + '\t'
          toReturn += Math.round(item.distance) + '\t' + Math.round(item.travelIntensity.intensity) + '\t'
          toReturn += Math.round(item.travelIntensity.uncertainty) + '\t' + Math.round(item.travelIntensity.intensitywc) + '\t'
          toReturn += Math.round(item.travelIntensity.uncertaintywc) + '\t' + Math.round(item.cumulativeDistance) + '\t'
          toReturn += Math.round(item.intensity.intensity) + '\t' + Math.round(item.intensity.uncertainty) + '\t'
          toReturn += Math.round(item.intensity.intensitywc) + '\t' + Math.round(item.intensity.uncertaintywc)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      createExportFile(csvContent, 'ghgi' + this.ghgi.year + '_travels')
    },
    exportDevices () {
      let emissions = this.ghgi.emissions.devices
      let csvContent = [
        ['type', 'model', 'amount', 'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t'),
        ...emissions.meta.map(function (item) {
          let toReturn = item.type + '\t' + item.model + '\t' + item.amount + '\t'
          toReturn += Math.round(item.intensity.intensity) + '\t' + Math.round(item.intensity.uncertainty)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      createExportFile(csvContent, 'ghgi' + this.ghgi.year + '_devices')
    },
    exportVehicles () {
      let emissions = this.ghgi.emissions.vehicles
      let csvContent = [
        ['name', 'type', 'engine', 'consumption', 'unit', 'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t'),
        ...emissions.meta.map(function (item) {
          let toReturn = item.name + '\t' + item.type + '\t' + item.engine + '\t'
          toReturn += item.consumption + '\t' + item.unit + '\t'
          toReturn += Math.round(item.intensity.intensity) + '\t' + Math.round(item.intensity.uncertainty)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      createExportFile(csvContent, 'ghgi' + this.ghgi.year + '_vehicles')
    },
    exportPurchases () {
      let emissions = this.ghgi.emissions.purchases
      let self = this
      let csvContent = [
        ['code', 'module', 'scope.source', 'category', 'description', 'amount.euro',
          'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t'),
        ...emissions.meta.map(function (item) {
          let toReturn = item.code.toUpperCase() + '\t' + item.module + '\t' + item.scope3 + '\t'
          toReturn += self.$t(item.category) + '\t' + item.description + '\t' + item.amount + '\t'
          toReturn += Math.round(item.intensity.intensity) + '\t' + Math.round(item.intensity.uncertainty)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      createExportFile(csvContent, 'ghgi' + this.ghgi.year + '_purchases')
    },
    exportBuildings () {
      let emissions = this.ghgi.emissions.buildings
      let csvContent = ['name', 'site', 'floor.area', 'share',
        'self.production', 'self.consumption', 'electricity.monthly', 'electricity.january.kwh',
        'electricity.february.kwh', 'electricity.march.kwh', 'electricity.april.kwh',
        'electricity.may.kwh', 'electricity.june.kwh', 'electricity.july.kwh',
        'electricity.august.kwh', 'electricity.septembre.kwh', 'electricity.octobre.kwh',
        'electricity.novembre.kwh', 'electricity.decembre.kwh', 'electricity.total.kwh',
        'heating.emission.kg.co2e', 'heating.uncertainty.kg.co2e',
        'electricity.emission.kg.co2e', 'electricity.uncertainty.kg.co2e',
        'refrigerants.emission.kg.co2e', 'refrigerants.uncertainty.kg.co2e'].join('\t') + '\n'
      csvContent += [
        ...emissions.meta.map(function (item) {
          let toReturn = item.name + '\t' + item.site + '\t'
          toReturn += item.area + '\t' + item.share + '\t'
          toReturn += item.selfConsumption + '\t' + item.selfProduction + '\t'
          toReturn += item.electricity.isMonthly + '\t'
          // monthly electricity consumption
          toReturn += item.electricity.january + '\t' + item.electricity.february + '\t'
          toReturn += item.electricity.march + '\t' + item.electricity.april + '\t'
          toReturn += item.electricity.may + '\t' + item.electricity.june + '\t'
          toReturn += item.electricity.july + '\t' + item.electricity.august + '\t'
          toReturn += item.electricity.septembre + '\t' + item.electricity.octobre + '\t'
          toReturn += item.electricity.novembre + '\t' + item.electricity.decembre + '\t'
          toReturn += Math.round(item.electricity.total) + '\t'
          toReturn += Math.round(item.heatingIntensity.intensity) + '\t' + Math.round(item.heatingIntensity.uncertainty) + '\t'
          toReturn += Math.round(item.electricityIntensity.intensity) + '\t' + Math.round(item.electricityIntensity.uncertainty) + '\t'
          toReturn += Math.round(item.refrigerantsIntensity.intensity) + '\t' + Math.round(item.refrigerantsIntensity.uncertainty)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      createExportFile(csvContent, 'ghgi' + this.ghgi.year + '_buildings')
    },
    csvExport (module) {
      if (module === Modules.COMMUTES) {
        this.exportCommutes(this.ghgi.year)
      } else if (module === Modules.TRAVELS) {
        this.exportTravels()
      } else if (module === Modules.DEVICES) {
        this.exportDevices()
      } else if (module === Modules.VEHICLES) {
        this.exportVehicles()
      } else if (module === Modules.PURCHASES) {
        this.exportPurchases()
      } else if (module === Modules.BUILDINGS) {
        this.exportBuildings()
      } else {
        this.exportGlobal()
      }
    },
    isDisabled: function (module) {
      return (this.syntheseData[module].intensity.intensity === 0)
    },
    isOK2Submit: function (module) {
      let isOK2Submit = true
      if (module === 'commutes' && !this.commutesIsOK) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-1')
      } else if (module === 'commutes' && this.surveyActive) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-2')
      } else if (module === 'travels' && !this.travelsIsOK) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-3')
      } else if (module === 'buildings' && !this.buildingsIsOK) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-4')
      } else if (module === 'purchases' && !this.purchasesIsOK) {
        isOK2Submit = false
        this.errorMsg = this.$t('error-5')
      } else if (module === 'total') {
        if (!this.commutesIsOK) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-1')
        } else if (this.surveyActive) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-2')
        } else if (!this.travelsIsOK) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-3')
        } else if (!this.buildingsIsOK) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-4')
        } else if (!this.purchasesIsOK) {
          isOK2Submit = false
          this.errorMsg = this.$t('error-5')
        }
      }
      return isOK2Submit
    },
    submitData: function (module) {
      if (this.isOK2Submit(module)) {
        this.currentModule = module
        this.displayModal = true
      } else {
        let self = this
        this.$buefy.dialog.alert({
          title: self.$t('title-2'),
          canCancel: ['escape', 'outside'],
          message: self.errorMsg,
          confirmText: self.$t('validate')
        })
      }
    },
    processBuildings: function () {
      let results = this.ghgi.emissions.buildings
      this.syntheseData.heatings.intensity = results.heatings.intensity
      this.syntheseData.buildings.intensity.add(results.heatings.intensity)
      this.syntheseData.total.intensity.add(results.heatings.intensity)

      this.syntheseData.electricity.intensity = results.electricity
      this.syntheseData.buildings.intensity.add(results.electricity)
      this.syntheseData.total.intensity.add(results.electricity)

      this.syntheseData.refrigerants.intensity = results.refrigerants
      this.syntheseData.buildings.intensity.add(results.refrigerants)
      this.syntheseData.total.intensity.add(results.refrigerants)
    },
    processVehicles: function () {
      let results = this.ghgi.emissions.vehicles
      this.syntheseData.vehicles.intensity = results.intensity
      this.syntheseData.proTravels.intensity.add(results.intensity)
      this.syntheseData.alltravels.intensity.add(results.intensity)
      this.syntheseData.total.intensity.add(results.intensity)
    },
    processCommutes: function () {
      let results = this.ghgi.emissions.commutes
      this.syntheseData.commutes.intensity = results.intensity
      this.syntheseData.alltravels.intensity.add(results.intensity)
      this.syntheseData.total.intensity.add(results.intensity)
    },
    processTravels: function () {
      let results = this.ghgi.emissions.travels
      let intensity = new CarbonIntensity(
        results.intensity.intensity,
        results.intensity.uncertainty,
        results.intensity.intensitywc,
        results.intensity.uncertaintywc
      )
      this.syntheseData.travels.intensity = intensity
      this.syntheseData.proTravels.intensity.add(intensity)
      this.syntheseData.alltravels.intensity.add(intensity)
      this.syntheseData.total.intensity.add(intensity)
    },
    processComputerDevices: function () {
      let results = this.ghgi.emissions.devices
      this.syntheseData.devices.intensity = results.intensity
      this.syntheseData.total.intensity.add(results.intensity)
    },
    processPurchases: function () {
      let results = this.ghgi.emissions.purchases
      this.syntheseData.purchases.intensity = results.intensity
      this.syntheseData.total.intensity.add(results.intensity)
    },
    process: function () {
      // First reset values
      this.syntheseData.buildings.intensity = new CarbonIntensities()
      this.syntheseData.heatings.intensity = new CarbonIntensity()
      this.syntheseData.electricity.intensity = new CarbonIntensity()
      this.syntheseData.refrigerants.intensity = new CarbonIntensity()
      this.syntheseData.devices.intensity = new CarbonIntensity()
      this.syntheseData.purchases.intensity = new CarbonIntensity()
      this.syntheseData.alltravels.intensity = new CarbonIntensities()
      this.syntheseData.commutes.intensity = new CarbonIntensity()
      this.syntheseData.proTravels.intensity = new CarbonIntensities()
      this.syntheseData.vehicles.intensity = new CarbonIntensity()
      this.syntheseData.travels.intensity = new CarbonIntensity()
      this.syntheseData.total.intensity = new CarbonIntensities()
      this.$store.dispatch('ghgi/compute')
      this.processBuildings()
      this.processVehicles()
      this.processCommutes()
      this.processTravels()
      this.processComputerDevices()
      this.processPurchases()
    }
  },
  watch: {
    ghgi: {
      handler () {
        this.process()
      },
      deep: true
    }
  },
  beforeMount () {
    this.process()
  },
  mounted () {
    let self = this
    setTimeout(function () {
      self.$refs.purchasesWarning[0].forceComputation()
    }, 5)
  }
}
</script>

<style>
.has-text-distance {
  color: #935458 !important;
}
.has-text-carbone {
  color: #8e6a9e !important;
}
.has-text-carbone2 {
  color: #208dbc !important;
}
.heading .tooltip-content {
  text-transform: none;
}
.heading .b-tooltip.is-multiline.is-large .tooltip-content {
    width: 500px;
}
.b-tooltip.is-multiline .tooltip-content {
    text-align: left !important;
}
</style>
