<i18n>
{
  "fr": {
    "label-1": "Modes de transport (%)",
    "tooltip": "déplacement(s) / semaine",
    "help": "Modes de déplacement utilisés sur une semaine pour se rendre au travail selon la distance à parcourir"
  },
  "en": {
    "label-1": "Modes of transportation (%)",
    "tooltip": "commute(s) / week",
    "help": "Modes of transportation used in a week to get to work by distance travelled"
  }
}
</i18n>

<template>
  <figure class="highcharts-figure">
    <highcharts ref="chart" :options="options" />
    <p class="highcharts-description highcharts-linked-description">
      <strong>Figure : </strong> {{ $t('help') }}
    </p>
  </figure>
</template>

<script>
import '@/plugins/highcharts.js'

export default {
  name: 'CommutesDistaancesModes',
  props: {
    ghgi: {
      type: Object,
      default: null
    },
    withContrails: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    series: function () {
      let series = [
        {
          name: this.$t('walking'),
          data: new Array(30).fill(0)
        },
        {
          name: this.$t('bike'),
          data: new Array(30).fill(0)
        },
        {
          name: this.$t('2wheelers'),
          data: new Array(30).fill(0)
        },
        {
          name: this.$t('car'),
          data: new Array(30).fill(0)
        },
        {
          name: this.$t('public.transportation'),
          data: new Array(30).fill(0)
        }
      ]
      let graphicModes = {
        'walking': ['walking'],
        'bike': ['bike', 'ebike'],
        '2wheelers': ['escooter', 'motorbike'],
        'car': ['car'],
        'public.transportation': [
          'bus',
          'busintercity',
          'tram',
          'train',
          'expressrailway',
          'subway'
        ]
      }
      for (let commute of this.ghgi.commutes) {
        if (!commute.deleted) {
          let nWorkingDay1 = commute.nWorkingDay
          if (commute.hasWorkingDay2) {
            nWorkingDay1 = commute.nWorkingDay - commute.nWorkingDay2
          }
          let index = 0
          for (let graphicMode of Object.keys(graphicModes)) {
            for (let mode of graphicModes[graphicMode]) {
              let category = this.getCategory(commute[mode])
              if (category > 0) {
                series[index].data[category] += nWorkingDay1
              }
              if (commute.hasWorkingDay2) {
                let category2 = this.getCategory(commute[mode + '2'])
                if (category2 > 0) {
                  series[index].data[category2] += commute.nWorkingDay2
                }
              }
            }
            index += 1
          }
        }
      }
      return series
    },
    categories: function () {
      let categories = []
      for (let i of [...Array(30).keys()]) {
        if (i === 25) {
          categories[i] = '25-30 km'
        } else if (i === 26) {
          categories[i] = '30-35 km'
        } else if (i === 27) {
          categories[i] = '35-40 km'
        } else if (i === 28) {
          categories[i] = '40-50 km'
        } else if (i === 29) {
          categories[i] = '>50 km'
        } else {
          let sup = i + 1
          categories[i] = i + '-' + sup + ' km'
        }
      }
      return categories
    },
    options: function () {
      let self = this
      return {
        chart: {
          type: 'column'
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: this.categories
        },
        tooltip: {
          pointFormat: '<span style="color:{series.color}">\u25CF</span>{series.name}: <b>{point.y}</b> ' + self.$t('tooltip') + ' ({point.percentage:.0f}%)<br/>',
          shared: true
        },
        plotOptions: {
          column: {
            stacking: 'percent'
          }
        },
        yAxis: [{
          gridLineWidth: 0,
          title: {
            text: this.$t('label-1')
          },
          labels: {
            format: '{value}%'
          }
        }],
        series: this.series
      }
    }
  },
  methods: {
    getCategory (value) {
      let category = Math.floor(value)
      if (category >= 25 && category < 30) {
        category = 25
      } else if (category >= 30 && category < 35) {
        category = 26
      } else if (category >= 35 && category < 40) {
        category = 27
      } else if (category >= 40 && category < 50) {
        category = 28
      } else if (category >= 50) {
        category = 29
      }
      return category
    }
  }
}
</script>

<style scoped>
.highcharts-figure {
  min-width: 320px;
  max-width: 700px;
  margin: 1em auto;
}
.highcharts-description {
  text-align: center;
  color: "#777777";
  font-style: italic;
}
</style>
