<template>
  <highcharts ref="chart" :options="options" />
</template>

<script>
import '@/plugins/highcharts.js'
import Modules from '@/models/Modules.js'

export default {
  name: 'GHGIPie',
  props: {
    ghgi: {
      type: Object,
      default: null
    },
    withContrails: {
      type: Boolean,
      default: true
    },
    enabledLabels: {
      type: Boolean,
      default: true
    },
    height: {
      type: Number,
      default: 400
    },
    titleSize: {
      type: String,
      default: '18px'
    },
    exporting: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    series: function () {
      let series = [
        {
          name: this.$t(Modules.HEATINGS),
          y: this.ghgi.emissions[Modules.BUILDINGS][Modules.HEATINGS].intensity.getIntensity(this.withContrails),
          color: Modules.HEATING_COLOR
        }, {
          name: this.$t(Modules.ELECTRICITY),
          y: this.ghgi.emissions[Modules.BUILDINGS][Modules.ELECTRICITY].getIntensity(this.withContrails),
          color: Modules.ELECTRICITY_COLOR
        }, {
          name: this.$t(Modules.REFRIGERANTS),
          y: this.ghgi.emissions[Modules.BUILDINGS][Modules.REFRIGERANTS].getIntensity(this.withContrails),
          color: Modules.REFRIGERANTS_COLOR
        }
      ]
      for (let module of Modules.MODULES) {
        if (!Modules.NOT_PACKED_MODULES.includes(module)) {
          series.push({
            name: this.$t(module),
            y: this.ghgi.emissions[module].intensity.getIntensity(this.withContrails),
            color: Modules.COLORS[module]
          })
        }
      }
      return series
    },
    intensity: function () {
      let intensity = 0
      for (let module in this.ghgi.emissions) {
        if (this.withContrails) {
          intensity += this.ghgi.emissions[module].intensity.intensitywc
        } else {
          intensity += this.ghgi.emissions[module].intensity.intensity
        }
      }
      return intensity
    },
    options: function () {
      const self = this
      return {
        chart: {
          type: 'pie',
          height: this.height
        },
        exporting: {
          enabled: this.exporting
        },
        title: {
          verticalAlign: 'middle',
          floating: true,
          style: {
            fontSize: this.titleSize
          },
          text: `<b>${self.$options.filters.splitNumberTons(Math.round(self.intensity))} ${self.$t('t.co2e')} </b>`
        },
        plotOptions: {
          pie: {
            innerSize: '60%',
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: this.enabledLabels,
              formatter () {
                return (
                  `<b>${this.point.name}:</b> ${self.$options.filters.splitNumberTons(this.y)} ${self.$t('t.co2e')}`
                )
              }
            },
            showInLegend: true
          }
        },
        series: [{
          name: this.$t('carbon.footprint'),
          colorByPoint: true,
          data: this.series
        }],
        legend: {
          enabled: false
        },
        tooltip: {
          formatter: function () {
            return (
              `${this.key}<br/><b>${self.$options.filters.splitNumberTons(this.y)} ${self.$t('t.co2e')}</b> (${Math.round(this.percentage * 10) / 10}%)`
            )
          }
        }
      }
    }
  }
}
</script>
