<template>
  <highcharts ref="chart" :options="options" />
</template>

<script>
import '@/plugins/highcharts.js'
import Modules from '@/models/Modules.js'

export default {
  name: 'GHGIBar',
  props: {
    ghgi: {
      type: Object,
      default: null
    },
    withContrails: {
      type: Boolean,
      default: true
    },
    enabledLabels: {
      type: Boolean,
      default: true
    },
    height: {
      type: Number,
      default: 400
    },
    exporting: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    series: function () {
      let series = [
        {
          name: this.$t(Modules.HEATINGS),
          y: this.ghgi.emissions[Modules.BUILDINGS][Modules.HEATINGS].intensity.getIntensity(this.withContrails),
          color: Modules.HEATING_COLOR
        }, {
          name: this.$t(Modules.ELECTRICITY),
          y: this.ghgi.emissions[Modules.BUILDINGS][Modules.ELECTRICITY].getIntensity(this.withContrails),
          color: Modules.ELECTRICITY_COLOR
        }, {
          name: this.$t(Modules.REFRIGERANTS),
          y: this.ghgi.emissions[Modules.BUILDINGS][Modules.REFRIGERANTS].getIntensity(this.withContrails),
          color: Modules.REFRIGERANTS_COLOR
        }
      ]
      for (let module of Modules.MODULES) {
        if (!Modules.NOT_PACKED_MODULES.includes(module)) {
          series.push({
            name: this.$t(module),
            y: this.ghgi.emissions[module].intensity.getIntensity(this.withContrails),
            color: Modules.COLORS[module]
          })
        }
      }
      return series.sort((a, b) => b.y - a.y)
    },
    options: function () {
      const self = this
      let yAxiSTitle = ''
      if (this.enabledLabels) {
        yAxiSTitle = this.$t('emissions.t.co2e')
      }
      return {
        chart: {
          type: 'bar',
          height: this.height
        },
        exporting: {
          enabled: this.exporting
        },
        title: {
          text: ''
        },
        xAxis: {
          type: 'category',
          labels: {
            enabled: this.enabledLabels
          }
        },
        yAxis: {
          title: {
            text: yAxiSTitle
          },
          labels: {
            enabled: this.enabledLabels
          }
        },
        plotOptions: {
          series: {
            pointWidth: 25,
            dataLabels: {
              enabled: true,
              formatter () {
                return (
                  `${self.$options.filters.splitNumberTons(this.y)} ${self.$t('t.co2e')}`
                )
              }
            }
          }
        },
        series: [{
          name: this.$t('carbon.footprint'),
          colorByPoint: true,
          data: this.series
        }],
        legend: {
          enabled: false
        },
        tooltip: {
          formatter: function () {
            return (
              `${this.key}<br/><b>${self.$options.filters.splitNumberTons(this.y)} ${self.$t('t.co2e')}</b>`
            )
          }
        }
      }
    }
  }
}
</script>
