<template>
  <highcharts ref="chart" :options="options" />
</template>

<script>
import '@/plugins/highcharts.js'
import Modules from '@/models/Modules.js'

export default {
  name: 'GHGIsBar',
  props: {
    ghgis: {
      type: Array,
      default: null
    },
    withContrails: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    series: function () {
      let series = [
        {
          name: this.$t(Modules.HEATINGS),
          data: this.ghgis.map(ghgi => ghgi.emissions[Modules.BUILDINGS][Modules.HEATINGS].intensity.getIntensity(this.withContrails) / 1000),
          color: Modules.HEATING_COLOR
        }, {
          name: this.$t(Modules.ELECTRICITY),
          data: this.ghgis.map(ghgi => ghgi.emissions[Modules.BUILDINGS][Modules.ELECTRICITY].getIntensity(this.withContrails) / 1000),
          color: Modules.ELECTRICITY_COLOR
        }, {
          name: this.$t(Modules.REFRIGERANTS),
          data: this.ghgis.map(ghgi => ghgi.emissions[Modules.BUILDINGS][Modules.REFRIGERANTS].getIntensity(this.withContrails) / 1000),
          color: Modules.REFRIGERANTS_COLOR
        }
      ]
      for (let module of Modules.MODULES) {
        if (!Modules.NOT_PACKED_MODULES.includes(module)) {
          series.push({
            name: this.$t(module),
            data: this.ghgis.map(ghgi => ghgi.emissions[module].intensity.getIntensity(this.withContrails) / 1000),
            color: Modules.COLORS[module]
          })
        }
      }
      return series
    },
    categories: function () {
      return this.ghgis.map(ghgi => ghgi.year)
    },
    options: function () {
      return {
        chart: {
          type: 'column'
        },
        title: {
          text: ''
        },
        series: this.series,
        tooltip: {
          valueSuffix: ' ' + this.$t('t.co2e'),
          valueDecimals: 2,
          shared: true
        },
        xAxis: {
          categories: this.categories,
          crosshair: true
        },
        plotOptions: {
          column: {
            stacking: 'normal',
            dataLabels: {
              enabled: true,
              formatter () {
                return (
                  `${this.y.toFixed(2)}`
                )
              }
            }
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: this.$t('emissions.t.co2e')
          }
        }
      }
    }
  }
}
</script>
