<i18n>
{
  "fr": {
    "title-1": "Les BGES",
    "title-2": "Supprimer BGES",
    "info-1": "L'ensemble des BGES de votre laboratoire sont listés dans le tableau ci-dessous. Depuis ce tableau, vous pouvez ajouter, charger et supprimer un BGES.",
    "info-2": "Aucun BGES",
    "info-3": "Êtes vous sûr de vouloir supprimer le BGES",
    "field-1": "Année",
    "tooltip-1": "Charger le BGES",
    "tooltip-2": "Supprimer le BGES",
    "tooltip-3": "Charger le lien publique du BGES"
  },
  "en": {
    "title-1": "The GHG inventories",
    "title-2": "Delete GHGI",
    "info-1": "All the GHG inventories (GHGIs) of your laboratory are listed in the table below. From this table, you can add, upload and delete a GHGI." ,
    "info-2": "No GHG inventory",
    "info-3": "Are you sure that you want to delete the GHGI",
    "field-1": "Year",
    "tooltip-1": "Load the GHGI",
    "tooltip-2": "Delete the GHGI",
    "tooltip-3": "Load the GHGI public link"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'thermometer'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      {{ $t('info-1') }}
      <br />
      <br />
      <contrails-switch
        :withContrails.sync="withContrails"
        :reduced="true"
      />
    </su-service>
    <br />
    <b-table
      :data="allGHGI"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
    >
      <b-table-column :label="$t('field-1')" sticky v-slot="props">
        {{ props.row.year }}
      </b-table-column>
      <b-table-column
        v-for="(module,index) in MODULES"
        :key="index"
        :label="$t(module)"
        numeric v-slot="props"
      >
        <nobr>
          {{ Math.round(props.row.synthesis[module].getIntensity(withContrails)) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.synthesis[module].uncertainty) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column :label="$t('total')" numeric v-slot="props">
        <nobr>
          {{ Math.round(props.row.synthesis.getIntensity(withContrails)) | splitNumberTons }} &plusmn;
          {{ Math.round(props.row.synthesis.getUncertainty(withContrails)) | splitNumberTons }}
        </nobr>
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-tooltip
            :label="$t('tooltip-1')"
            type="is-black"
          >
            <b-button
              size="is-small"
              type="is-primary"
              icon-left="cloud-download"
              @click="loadGHGI(props.row.id)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('tooltip-3')"
            type="is-black"
            position="is-left"
          >
            <b-button
              size="is-small"
              icon-left="external-link"
              @click="copyGHGILink(props.row.id)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('tooltip-2')"
            type="is-black"
            position="is-left"
          >
            <b-button
              size="is-small"
              :disabled="deleteDisabled(props.row)"
              icon-right="trash"
              @click="deleteGHGI(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="sui sui-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('info-2') }}</p>
        </div>
      </section>
    </b-table>
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            @click="createGHGI()"
          >
            {{ $t('add') }}
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Modules from '@/models/Modules.js'

export default {
  name: 'AllGHGI',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'contrails-switch': () => import('@/components/ContrailsSwitch.vue')
  },
  data () {
    return {
      withContrails: true,
      MODULES: Modules.PACKED_MODULES
    }
  },
  computed: {
    allGHGI: function () {
      this.$store.dispatch('admin/computeAllGHGI')
      return this.$store.getters['admin/allGHGI']
    }
  },
  methods: {
    deleteDisabled (ghgi) {
      return ghgi.buildingsSubmitted || ghgi.commutesSubmitted || ghgi.travelsSubmitted || ghgi.vehiclesSubmitted || ghgi.devicesSubmitted || ghgi.purchasesSubmitted
    },
    deleteGHGI (ghgi) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('title-2') + ' ' + ghgi.year,
        message: self.$t('info-3') + ' <b> ' + ghgi.year + '</b> ?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          self.$store.dispatch('admin/deleteGHGIDescription', ghgi.id)
            .then(data => {
              loadingComponent.close()
            })
            .catch((erreur) => {
              loadingComponent.close()
            })
        }
      })
    },
    createGHGI () {
      this.$store.dispatch('ghgi/resetGHGI')
      this.$router.push('/ges-1point5/0')
    },
    copyGHGILink (ghgiID) {
      let ghgi = this.allGHGI.find(obj => obj.id === ghgiID)
      let route = this.$router.resolve({ path: '/ges-1point5-results/' + ghgi.uuid })
      window.open(route.href, '_blank')
    },
    loadGHGI (ghgiID) {
      this.$router.push('/ges-1point5/' + ghgiID)
    }
  }
}
</script>

<style>
.is-sticky {
  background: #fafafa !important;
}
.table td {
  vertical-align: middle !important;
}
.table th {
  vertical-align: middle !important;
}
</style>
