<i18n>
  {
    "fr": {
      "title": "Forum",
      "label-1": "Se connecter",
      "label-2": "s'enregistrer",
      "text-1": "Forum de la communauté <em>GES 1point5</em> permettant de trouver de l'aide et poser des questions sur l'établissement de votre BGES."
    },
    "en": {
      "title": "Discussion forum",
      "label-1": "Log in",
      "label-2": "Sign in",
      "text-1": "Discussion forum of the <em>GES 1point5</em> community to get help and ask questions about the construction of your GHGI."
    }
  }
  </i18n>

<template>
  <div class="columns">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a target="_blank" href="https://team.picasoft.net/labos-1point5">
              <img src="@/assets/images/mattermost.png">
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ $t('title') }}</p>
              <p class="subtitle is-6">
                <small>
                  <a
                    class="link"
                    target="_blank"
                    href="https://team.picasoft.net/login"
                  >
                    <span class="icon is-small">
                      <i class="sui sui-user" />
                    </span>
                    {{ $t('label-1') }}
                  </a>
                  &
                  <a
                    class="link"
                    target="_blank"
                    href="https://team.picasoft.net/signup_user_complete/?id=6r7cx4f1ufbu3n7ie95fytod3y"
                  >
                    <span class="icon is-small">
                      <i class="sui sui-pencil" />
                    </span>
                    {{ $t('label-2') }}
                  </a>
                </small>
              </p>
            </div>
          </div>
          <div class="content">
            <span v-html="$t('text-1')" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Links'
}
</script>
