<i18n>
{
  "fr": {
    "title": "Configuration",
    "save-msg": "Les informations de configuration ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>."
  },
  "en": {
    "title": "Settings",
    "save-msg": "The data relating to settings have been <strong><span style='color:green;'>successfully</span></strong>saved."
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'cog'">
      <template #title>
        {{ $t('title') }}
      </template>
    </su-service>
    <br />
    <b-notification
      v-for="(section,index) in sections"
      :key="index"
      :closable="false"
    >
      <b-field
        v-for="setting in settings.filter(obj => obj.section === section)"
        :key="setting.id"
        :label="setting.name"
      >
        <b-input
          :name="setting.name"
          v-model="csettings[setting.id]"
          @input="updateSetting($event, setting.id)"
        />
      </b-field>
    </b-notification>
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="buttons level-right">
        <b-button
          icon-left="save"
          type="is-primary"
          @click="valider()"
        >
          <span>{{ $t('save') }}</span>
        </b-button>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  // Commute NUMBER_OF_WORKED_WEEK
  // Commute MAX_DISTANCES
  // Commute TRAVELS_MODES
  // Travels PURPOSE
  // Travels STATUS
  // Travels MODE
  // Travels MODES_DEPLACEMENTS
  // Travels PURPOSE_DICTIONARY
  // Travels STATUS_DICTIONARY
  // Travels MODE_DICTIONARY
  // Travels ROUND_TRIP_DICTIONARY
  // definitions COLOR
  // api Tutelle > Administrations
  // api DomaineScientifique / DomaineDisciplinaire / SousDomaine
  // geonames geonamesAllowedCountries (bloquer l'instance à la France ou autre ...)
  // facteurs d'émissions
  name: 'SettingsEditor',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  data () {
    return {
      csettings: {}
    }
  },
  computed: {
    sections: function () {
      return this.$store.getters['core/sections']
    },
    settings: function () {
      return this.$store.getters['core/settings']
    }
  },
  methods: {
    updateSetting: function (value, id) {
      this.csettings[id] = value
      this.$store.commit('core/UPDATE_SETTING', {
        'id': id,
        'value': value
      })
    },
    valider: function () {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.$store.dispatch('core/saveSettings')
        .then(settings => {
          window.scrollTo(0, 0)
          let self = this
          this.$buefy.toast.open({
            type: 'is-light',
            message: self.$t('save-msg')
          })
          loadingComponent.close()
        })
        .catch((erreur) => {
          // TODO
          loadingComponent.close()
        })
    }
  },
  mounted () {
    const loadingComponent = this.$buefy.loading.open({
      container: null
    })
    this.$store.dispatch('core/getSettings')
      .then(settings => {
        this.csettings = {}
        for (let setting of settings) {
          this.csettings[setting.id] = setting.value
        }
        loadingComponent.close()
      })
      .catch((erreur) => {
        loadingComponent.close()
      })
  }
}
</script>
