<i18n>
{
  "fr": {
    "title": "Liste des mesures"
  },
  "en": {
    "title": "Measures list"
  }
}
</i18n>

<template>
  <b-modal
    :can-cancel="['escape', 'x', 'outside']"
    :active="active"
    @close="close"
    has-modal-card
    :width="1200"
  >
    <div class="modal-card" style="width: 1200px">
      <header class="modal-card-head">
        <p class="modal-card-title">
          {{ $t('title') }}
        </p>
      </header>
      <section class="modal-card-body">
        <div class="columns">
          <div class="column is-one-quarter">
            <b-menu style="width: 15%; position: fixed;">
              <b-menu-list>
                <b-menu-item
                  v-for="(module,indexm) in allModules"
                  :key="indexm"
                  :expanded="getModuleRules(module).map(obj => obj.name).includes(selectedRule.name)"
                  @click="activate(getModuleRules(module)[0])"
                >
                  <template slot="label" slot-scope="props">
                    <b-icon :icon="MODULE_ICONS[module]" />
                    {{ $t(module) }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    v-for="(rule,indexr) in getModuleRules(module)"
                    :key="indexr"
                    @click="activate(rule)"
                    :active="selectedRule.name===rule.name"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            {{ translate(rule, 'title') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <rule-card
              v-if="selectedRule"
              :rule="selectedRule"
              :ghgi="ghgi"
              :withContrails="withContrails"
            />
          </div>
        </div>
      </section>
      <footer class="modal-card-foot buttons is-right">
        <nav class="level">
          <div class="level-left"></div>
          <div class="buttons level-right">
            <b-button
              class="button"
              @click="close"
              icon-left="close"
            >
              {{ $t('cancel') }}
            </b-button>
            <b-button
              class="button"
              @click="addRule"
              :disabled="isDisabled(selectedRule)"
              type="is-primary"
              icon-left="plus"
            >
              {{ $t('add') }}
            </b-button>
          </div>
        </nav>
      </footer>
    </div>
  </b-modal>
</template>

<script>
import Rule from '@/models/scenario/Rule.js'
import Scenario from '@/models/scenario/Scenario.js'
import Modules from '@/models/Modules.js'

export default {
  name: 'RulesSelectorModal',
  components: {
    'rule-card': () => import('@/components/scenario/RuleCard.vue')
  },
  props: {
    active: {
      type: Boolean,
      default: false
    },
    scenario: {
      type: Object,
      default: function () {
        return {}
      }
    },
    ghgi: {
      type: Object,
      default: function () {
        return {}
      }
    },
    withContrails: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      selectedRule: Scenario.getRules()[0],
      allRules: Scenario.getRules(),
      MODULE_ICONS: Modules.ICONS
    }
  },
  computed: {
    allModules: function () {
      let values = this.allRules.map(obj => Scenario.MODULES[obj.module])
      return Array.from(new Set(values))
    }
  },
  methods: {
    activate: function (rule) {
      this.selectedRule = rule
    },
    getModuleRules: function (module) {
      return this.allRules.filter(obj => Scenario.MODULES[obj.module] === module)
    },
    translate (rule, key) {
      return Rule.translate(rule, key, this.$i18n.locale)
    },
    isDisabled (rule) {
      return !this.scenario.ruleCanBeAdded(
        rule,
        this.$store.getters['core/setting']('commute')
      )
    },
    addRule () {
      this.$emit('add', this.selectedRule)
      this.initSelectedRule()
    },
    close () {
      this.$emit('close')
      this.initSelectedRule()
    },
    initSelectedRule () {
      this.selectedRule = this.getModuleRules(this.allModules[0])[0]
    }
  },
  mounted () {
    this.initSelectedRule()
  }
}
</script>
