/* ==========================================================================
Fresh Footer
========================================================================== */
footer.footer-dark {
  .humans {
    padding: 2px 8px 2px 8px;
    max-height: 25px;
    border-radius: 5px;
    background-color: $smoke-white;
  }
  .humans:hover {
    background-color: $primary-hover;
  }
  .icon {
    color: $smoke-white;
    :hover {
        color: $primary-hover
    }
  }
  .logo:hover {
    background-position: 0 -32px;
  }
  .wiki {
    position: absolute;
    margin-top: 2px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background: url("~@/assets/images/logos/logo_wiki-2.png");
  }
  .appropedia {
    position: absolute;
    margin-top: 2px;
    margin-left: -16px;
    width: 323px;
    height: 32px;
    background: url("~@/assets/images/logos/logo_appropedia-2.png");
  }
  .framasoft {
    position: absolute;
    margin-top: 2px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background: url("~@/assets/images/logos/logo_framasoft-2.png");
  }
  .nuagelibre {
    position: absolute;
    margin-top: 2px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background: url("~@/assets/images/logos/logo_nuagelibre-2.png");
  }
  .lepic {
    position: absolute;
    margin-top: 2px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background: url("~@/assets/images/logos/logo_lepic-2.png");
  }
  .picasoft {
    position: absolute;
    margin-top: 2px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background: url("~@/assets/images/logos/logo_picasoft-2.png");
  }
  .label {
    color: #eee;
    font-weight: normal;
    font-size: 14px;
  }
}
#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
  opacity: 0.9;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
  opacity: 0.9;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #00a3a6;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  margin: 0 0 20px 0
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #4280b0;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
