<i18n>
{
  "fr": {
    "text-1": "<b>Prise en compte uniquement des équipements informatiques professionnels achetés par l'unité de recherche</b><br/> Comme pour les autres postes, afin d'éviter les doubles comptages, ne comptez que le matériel informatique professionnel acheté par l'unité de recherche. Par conséquent, si votre unité héberge du matériel acheté (et donc inventorié) par une autre unité, ses émissions incorporées ne sont pas rattachées à votre unité. Et inversement, si votre unité a acheté du matériel informatique qui est hébergé dans une autre unité, alors les émissions incorporées de ces équipements doivent être imputées à votre unité.",
    "text-2": "<b>Saisie des données dans l’outil</b><br/> Pour un maximum de précision des résultats, il est recommandé de passer par l'importation directe des données que vous aurez extraites via le format <a class='link' href='/static/carbon/devicesTemplate.tsv' download>devicesTemplate.tsv</a>. Attention : Le fichier téléversé doit contenir tous les achats effectués pendant l'année considérée, et uniquement ceux-ci !<br /> Pour vous éviter un travail laborieux d'uniformisation des libellés, l'outil n'impose pas un format très strict de ceux-ci mais, au contraire, essaie d'extraire au mieux l'information des données brutes que vous aurez fournies. Si la qualité de l'importation n'est pas satisfaisante, vous pouvez au choix corriger directement dans l'outil les quelques erreurs (cliquez sur le chevron à gauche de chacune des lignes pour voir les données brutes correspondantes), ou bien faire les quelques corrections directement dans votre fichier avant de le re-téléverser.<br />A défaut de précision sur les modèles, il est aussi possible de renseigner à gros grain le nombre d'équipements achetés sur la période en choisissant pour chaque type d'équipement le modèle « Défaut ».<br />N'oubliez pas de renseigner les achats d'écrans qui font rarement partie des bases de données d'inventaire."
  },
  "en": {
    "text-1": "<b>Count only professional digital devices purchased by the research unit</b><br/> As for the other items, in order to avoid double counting, consider only professional digital devices purchased by the lab. Therefore, if your lab hosts digital devices purchased (and therefore inventoried) by another lab, its embedded emissions are not reported in the GHGI of your lab. Conversely, if your lab has purchased digital devices that are hosted in another lab, then the incorporated emissions of these devices should be allocated to your unit.",
    "text-2": "<b>Entering data into the tool</b><br/> For the highest accuracy of the results, it is recommended to import directly the data you have extracted via the <a class='link' href='/static/carbon/devicesTemplate.tsv' download>devicesTemplate.tsv</a> format. Warning: The uploaded file must contain all purchases made during the year considered, and only those ones!<br/> In order to avoid laborious work of standardisation of the labels, the tool does not impose a very strict format of the labels but, on the contrary, tries to extract the information as well as possible from the raw data that you provide. If the quality of the import is not satisfactory, you can either correct the few errors directly in the tool (click on the chevron to the left of each line to see the corresponding raw data), or make the few corrections directly in your file before uploading it again.<br />In the absence of information on the models, it is also possible to enter the number of devices purchased over the period by choosing the \"Default\" model for each type of device.<br />Do not forget to enter the number of monitors purchased, which are rarely included in the inventory databases."
  }
}
</i18n>

<template>
  <div>
    <p>
      <span v-html="$t('text-1')" />
      <br/><br/>
      <span v-html="$t('text-2')" />
    </p>
  </div>
</template>

<script>
export default {
  name: 'HelpManual'
}
</script>
