<i18n>
{
  "fr": {
    "delete-msg": "Êtes vous sûr de vouloir supprimer le batiment",
    "site": "Site",
    "label-1": "Validité",
    "label-2": "Valide",
    "label-3": "Non valide",
    "useful-area": "Surface utile brute",
    "perc-area": "Part de la SUB",
    "no-buildings": "Aucun bâtiment",
    "class": "Classe énergétique"
  },
  "en": {
    "delete-msg": "Are you sure that you want to delete the building ?",
    "site": "Site",
    "label-1": "Validity",
    "label-2": "Valid",
    "label-3": "Invalid",
    "useful-area": "Gross useful area",
    "perc-area": "Share of the gross useful area",
    "no-buildings": "No building",
    "class": "Energy class"
  }
}
</i18n>

<template>
  <b-table
      :data="buildings"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="20"
      default-sort="score"
      default-sort-direction="desc"
    >
      <b-table-column
        :label="$t('label-1')"
        field="score"
        sortable
        :custom-sort="sortValid"
        centered
        v-slot="props"
      >
        <b-tag rounded v-if="props.row.score===1" type="is-success">{{ $t('label-2') }}</b-tag>
        <b-tag rounded v-else type="is-danger">{{ $t('label-3') }}</b-tag>
      </b-table-column>
      <b-table-column
        v-if="sites.length > 0"
        :label="$t('site')"
        field="site"
        sortable
        v-slot="props"
      >
        {{ props.row.site }}
      </b-table-column>
      <b-table-column
        :label="$t('id')"
        field="name"
        sortable
        v-slot="props"
      >
        {{ props.row.name }}
      </b-table-column>
      <b-table-column
        :label="$t('class')"
        field="class"
        sortable
        :custom-sort="sortEnergyClass"
        v-slot="props"
      >
        <span class="tag" :class="props.row.getEnergeticValues()[0]">
          {{ props.row.getEnergeticValues()[0] }}
        </span>
      </b-table-column>
      <b-table-column
        :label="$t('useful-area')"
        field="area"
        sortable
        :custom-sort="sortArea"
        numeric
        v-slot="props"
      >
        {{ props.row.area }} m2
      </b-table-column>
      <b-table-column
        :label="$t('perc-area')"
        field="share"
        sortable
        :custom-sort="sortShare"
        numeric
        v-slot="props"
      >
        {{ props.row.share }}
      </b-table-column>
      <b-table-column
        :label="$t('electricity')"
        field="electricity"
        sortable
        :custom-sort="sortElec"
        numeric
        v-slot="props"
      >
        <p :class="type(props.row.getElectricityConsumption())">
          {{ Math.round(props.row.getElectricityConsumption()) | splitNumber }}
        </p>
      </b-table-column>
      <b-table-column
        :label="$t('heatings')"
        field="heatings"
        sortable
        :custom-sort="sortHeating"
        numeric
        v-slot="props"
      >
        <b-icon
          v-if="isElectric(props.row) && !props.row.getTotalHeatingConsumption()"
          icon="plug"
        >
        </b-icon>
        <p
          v-else
          :class="type(props.row.getTotalHeatingConsumption())"
        >
            {{ props.row.getTotalHeatingConsumption() | splitNumber }}
        </p>

      </b-table-column>
      <b-table-column
        :label="$t('refrigerants')"
        field="refrigerants"
        numeric
        v-slot="props"
      >
        {{ props.row | getGasList }}
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-tooltip
            v-if="submitted"
            :label="$t('display')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="search"
              @click="edit(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            v-else
            :label="$t('edit')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="pencil"
              @click="edit(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('delete')"
            type="is-black"
          >
            <b-button
              size="is-small"
              :disabled="submitted"
              icon-left="trash"
              @click="del(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="sui sui-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('no-buildings') }}</p>
        </div>
      </section>
    </b-table>
</template>

<script>
import Modules from '@/models/Modules.js'

export default {
  name: 'BuildingTable',
  computed: {
    submitted: function () {
      return this.$store.getters['ghgi/item']['buildingsSubmitted']
    },
    buildings: function () {
      return this.$store.getters['ghgi/items'](Modules.BUILDINGS)
    },
    laboratory: function () {
      return this.$store.getters['admin/laboratory']
    },
    sites: function () {
      if ('sites' in this.laboratory) {
        return this.laboratory.sites
      } else {
        return []
      }
    }
  },
  filters: {
    getGasList: function (building) {
      let gasList = ''
      for (let gas of building.refrigerants) {
        gasList += gas.name.toUpperCase() + ' (' + gas.total + ' kg), '
      }
      if (gasList !== '') {
        gasList = gasList.substring(0, gasList.length - 2)
      } else {
        gasList = '0'
      }
      return gasList
    }
  },
  methods: {
    edit: function (building) {
      this.$emit('edit', building)
    },
    del: function (building) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('delete') + ' "' + building.name + '"',
        message: self.$t('delete-msg') + ' <b>' + building.name + '</b>?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.$store.dispatch('ghgi/deleteItem', {
            module: 'buildings',
            item: building
          })
          self.$emit('delete')
        }
      })
    },
    isElectric: function (building) {
      return building.heatings.map(obj => obj.type).includes('electric')
    },
    type: function (value) {
      const number = parseFloat(value)
      if (number === 0) {
        return 'warning'
      } else {
        return null
      }
    },
    sortStr (a, b, isAsc) {
      if (isAsc) {
        return a.localeCompare(b)
      } else {
        return b.localeCompare(a)
      }
    },
    sortStrToNum (a, b, isAsc) {
      if (isAsc) {
        return Number(a) - Number(b)
      } else {
        return Number(b) - Number(a)
      }
    },
    sortValid (a, b, isAsc) {
      return this.sortStrToNum(a.score, b.score, isAsc)
    },
    sortEnergyClass (a, b, isAsc) {
      return this.sortStr(a.getEnergeticValues()[0], b.getEnergeticValues()[0], isAsc)
    },
    sortArea (a, b, isAsc) {
      return this.sortStrToNum(a.area, b.area, isAsc)
    },
    sortShare (a, b, isAsc) {
      return this.sortStrToNum(a.share, b.share, isAsc)
    },
    sortElec (a, b, isAsc) {
      return this.sortStrToNum(a.getElectricityConsumption(), b.getElectricityConsumption(), isAsc)
    },
    sortHeating (a, b, isAsc) {
      return this.sortStrToNum(a.getTotalHeatingConsumption(), b.getTotalHeatingConsumption(), isAsc)
    }
  }
}
</script>

<style>
.table td {
  vertical-align: middle !important;
}
p.warning {
  color: hsl(348, 100%, 61%);
}
span.A {
  background-color: #00af7b;
  color: white;
}
span.B {
  background-color: #48ba62;
  color: white;
}
span.C {
  background-color: #99ce7e;
  color: white;
}
span.D {
  background-color: #efea2e;
  color: white;
}
span.E {
  background-color: #f1b321;
  color: white;
}
span.F {
  background-color: #f0853c;
  color: white;
}
span.G {
  background-color: #dd2527;
  color: white;
}
</style>
